Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

convert query values to string when matching with regex
  packages/app/utils/actions/request.tsx
Due: eslint

convert docs links to absolute paths
  docs/blocks/blocks.md
  docs/guide/events.md
  docs/guide/index.md
Due: prettier, remark lint

remove authentication requirement on /organizations/{id}
  packages/server/api/paths/organizations.js
Due: eslint

Enable ESLint rule no-implicit-coercion
  .eslintrc.js
Due: eslint

downgrade Leaflet from 1.6.0 to 1.5.1
  blocks/form/package.json
  blocks/map/package.json
  packages/preact-components/package.json
  packages/react-components/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Make stats block more responsive
  blocks/stats/src/index.css
  blocks/stats/src/index.tsx
Due: eslint, stylelint

Remove outdated contributing sections
  CONTRIBUTING.md
  packages/app/README.md
  packages/cli/README.md
  packages/preact-components/README.md
  packages/react-components/README.md
  packages/service-worker/README.md
  packages/studio/README.md
  packages/types/README.md
  packages/utils/README.md
Due: prettier, remark lint

Add package metadata
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: prettier

Remove outdated instructions from README.md
  README.md
Due: prettier, remark lint

Use https instead of ssh for readme clone command
  README.md
Due: prettier, remark lint

Fix resolving @appsemble/sdk for jest
  packages/app/jest.config.js
  packages/react/jest.config.js
Due: eslint

Refactor code (removed approvider)
  CONTRIBUTING.md
  packages/studio/components/App/App.tsx
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppProvider/index.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/CMSRoot/CMSRoot.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Notifications/Notifications.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
  packages/studio/hooks/useApp.ts
Due: eslint, prettier, remark lint

removed unnused redux dependencies in yarn, code cleanup
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Configure eslint-plugin-import for TypeScript
  .eslintrc.js
  blocks/action/package.json
  blocks/filter/package.json
  blocks/form/package.json
  package.json
  packages/node-utils/logger.test.js
  packages/react-components/package.json
  packages/studio/package.json
  packages/types/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix LGPL formatting
  LICENSE.md
Due: prettier, remark lint

Read tsconfig correctly when generating block schemas
  packages/cli/lib/generateBlockData.js
Due: eslint

Delete custom Helm hook delete policy
  config/charts/appsemble/templates/restore-ingress.yaml
Due: helm lint, prettier

Remove commented code
  packages/cli/lib/generateBlockData.js
Due: eslint

Resolve threads from merge request 839
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/CMSRoot/CMSRoot.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Notifications/Notifications.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
Due: eslint

rename @appsemble/list to @appsemble/table
  CHANGELOG.md
  apps/holidays/app.yaml
  apps/person/app.yaml
  blocks/table/.appsemblerc.yaml
  blocks/table/block.ts
  blocks/table/package.json
  blocks/table/src/index.css
  blocks/table/src/index.tsx
  blocks/table/tsconfig.json
  docs/blocks/blocks.md
  docs/blocks/table.md
  docs/guide/basic-app.md
  docs/guide/notifications.md
Due: eslint, prettier, remark lint, stylelint

Apply suggestion to CHANGELOG.md
  CHANGELOG.md
Due: prettier, remark lint

Apply suggestion to docs/blocks/blocks.md
  docs/blocks/blocks.md
Due: prettier, remark lint

'setApp' is declared but its value is never read.
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

implement list block
  blocks/list/.appsemblerc.yaml
  blocks/list/block.ts
  blocks/list/package.json
  blocks/list/src/index.css
  blocks/list/src/index.tsx
  blocks/list/tsconfig.json
Due: eslint, prettier, stylelint

add fontawesome dependency
  blocks/stats/package.json
Due: prettier

Apply suggestion to packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/AppList/AppList.tsx
Due: eslint

Apply suggestion to packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint

Apply suggestion to packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
Due: eslint

refactor list into multiple components
  blocks/list/.appsemblerc.yaml
  blocks/list/block.ts
  blocks/list/src/components/ListBlock/ListBlock.css
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/list/src/components/ListBlock/index.tsx
  blocks/list/src/components/ListItem/ListItem.css
  blocks/list/src/components/ListItem/ListItem.tsx
  blocks/list/src/components/ListItem/index.tsx
  blocks/list/src/components/ListItemWrapper/ListItemWrapper.tsx
  blocks/list/src/components/ListItemWrapper/index.tsx
  blocks/list/src/index.tsx
Due: eslint, prettier, stylelint

update docs
  CHANGELOG.md
  docs/blocks/blocks.md
  docs/blocks/list.md
  docs/blocks/table.md
  docs/images/list.png
  docs/images/table.png
Due: prettier, remark lint

Load data with data-loader even if data was passed through
  blocks/data-loader/src/index.ts
Due: eslint

Enable the build flag by default in the CLI
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
Due: eslint

remove --build flag from CI
  .gitlab-ci.yml
Due: prettier

update docs
  CHANGELOG.md
  README.md
Due: prettier, remark lint

Fix ESLint issue
  packages/create-appsemble/templates/preact/src/index.tsx
Due: eslint

Fix create-appsemble
  packages/create-appsemble/commands/block.js
  packages/create-appsemble/lib/create/index.js
  packages/create-appsemble/lib/create/preact.js
  packages/create-appsemble/lib/create/vanilla.js
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/.eslintrc.js
  packages/create-appsemble/templates/preact/package.json
  packages/create-appsemble/templates/vanilla/.appsemblerc.yaml
  packages/create-appsemble/templates/vanilla/block.ts
  packages/create-appsemble/templates/vanilla/package.json
  packages/create-appsemble/templates/vanilla/src/index.ts
  packages/create-appsemble/templates/vanilla/tsconfig.json
Due: eslint, prettier

Make skipInitialLoad optional for data-loader
  blocks/data-loader/block.ts
Due: eslint

Fix weird English in comment
  packages/cli/lib/generateBlockData.js
Due: eslint

Allow empty block definition parameters
  packages/utils/validateAppDefinition.js
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
