Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

fix blocks links
  docs/blocks/blocks.mdx
  docs/dns.md
Due: prettier, remark lint

replace generated SVG with Mermaid plugin
  docs/architecture.mdx
  docs/images/architecture.mmd
  docs/images/theming-hierarchy.mmd
  docs/theming.mdx
  doczrc.js
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

remove mmdc script from dockerfile
  config/docs/Dockerfile
  package.json
  puppeteer-config.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove webpack-stats-plugin
  config/webpack/app.js
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix various issues introduced by merging master
  packages/app/actions/user.tsx
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/types.ts
  packages/server/api/components/schemas/Security.js
  packages/server/controllers/apps.js
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/UserProvider/UserProvider.tsx
  packages/studio/types.ts
  packages/types/index.d.ts
  packages/utils/validateAppDefinition.test.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix padding for Mermaid images in docs
  docs/index.css
  docs/theming.mdx
  doczrc.js
Due: eslint, stylelint

Create workaround for image rendering bug
  docs/blocks/action-button.mdx
  docs/blocks/detail-viewer.mdx
  docs/blocks/form.mdx
  docs/blocks/list.mdx
  docs/blocks/map.mdx
  docs/blocks/markdown.mdx
Due: none

include field if resource author is known
  packages/server/controllers/resources.js
  packages/server/controllers/resources.test.js
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

fix type imports
  packages/studio/components/AnonymousRoute/AnonymousRoute.tsx
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
  packages/studio/hooks/useUser.ts
Due: eslint

update user reducer tests
  packages/app/actions/user.test.tsx
Due: eslint

fix ratings not being added when rating an app
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

fix description blockquote being shown if description is empty
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

Bump dependencies
  babel.config.js
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/server/package.json
  packages/studio/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

update types
  packages/studio/components/Roles/Roles.tsx
  packages/types/index.d.ts
Due: eslint

Serve apps on default subdomains
  config/webpack/app.js
  packages/app/actions/blockDefs.tsx
  packages/app/components/App/App.jsx
  packages/app/error.html
  packages/app/fallback.html
  packages/app/index.html
  packages/app/types.ts
  packages/app/utils/blockUtils.tsx
  packages/server/commands/restoreDNS.js
  packages/server/middleware/appMapper.js
  packages/server/middleware/tinyRouter.js
  packages/server/routes/appRouter/iconHandler.js
  packages/server/routes/appRouter/indexHandler.js
  packages/server/routes/appRouter/manifestHandler.js
  packages/server/routes/fallbackRouter/index.js
  packages/server/routes/fallbackRouter/indexHandler.js
  packages/server/routes/fallbackRouter/indexHandler.test.js
  packages/server/routes/fallbackRouter/redirectHandler.js
  packages/server/routes/fallbackRouter/redirectHandler.test.js
  packages/server/routes/index.js
  packages/server/routes/studioRouter/indexHandler.js
  packages/server/utils/addDBHooks.js
  packages/server/utils/bulkDNSRestore.js
  packages/server/utils/createServer.js
  packages/server/utils/getApp.js
  packages/studio/components/AppList/components/AppCard/AppCard.jsx
  packages/studio/components/Editor/Editor.jsx
Due: eslint, prettier

process feedback
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/server/controllers/apps.js
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/Roles/Roles.tsx
Due: eslint

Fix tests
  packages/app/utils/blockUtils.test.tsx
  packages/server/middleware/appMapper.test.js
  packages/server/routes/appRouter/iconHandler.test.js
  packages/server/routes/appRouter/manifestHandler.test.js
  packages/server/routes/studioRouter/indexHandler.js
  packages/server/routes/studioRouter/indexHandler.test.js
  packages/server/utils/bulkDNSRestore.test.js
Due: eslint

Fix registration of default app domains
  jest.config.js
  packages/server/utils/addDBHooks.js
Due: eslint

Remove typedoc dependency
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Remove raw from create app query
  packages/server/controllers/apps.js
Due: eslint

fix inability to assign roles to members
  packages/server/controllers/apps.js
Due: eslint

implement notifying roles on resource creation
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
  packages/server/controllers/resources.js
  packages/server/utils/sendNotification.js
Due: eslint

Convert MonacoEditor to TypeScript
  packages/studio/components/Editor/Editor.jsx
  packages/studio/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  packages/studio/components/Editor/messages.tsx
  packages/studio/components/MonacoEditor/MonacoEditor.css
  packages/studio/components/MonacoEditor/MonacoEditor.tsx
  packages/studio/components/MonacoEditor/index.tsx
Due: eslint, stylelint

Cleanup app controllers
  packages/server/api/paths/apps.js
  packages/server/controllers/appMembers.js
  packages/server/controllers/appMembers.test.js
  packages/server/controllers/appRatings.js
  packages/server/controllers/apps.js
  packages/server/controllers/apps.test.js
  packages/server/controllers/index.js
Due: eslint

implement notifications for delete and update
  packages/server/controllers/resources.js
  packages/server/utils/sendNotification.js
Due: eslint

Replace supertest with axios-test-instance
  package.json
  packages/server/controllers/assets.test.js
  packages/server/controllers/auth.test.js
  packages/server/controllers/health.test.js
  packages/server/controllers/resources.test.js
  packages/server/controllers/templates.test.js
  packages/server/controllers/user.test.js
  packages/server/middleware/boom.test.js
  packages/server/middleware/tinyRouter.test.js
  packages/server/routes/studioRouter/faviconHandler.test.js
  packages/server/routes/studioRouter/iconHandler.test.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

add hook validation
  packages/utils/validateAppDefinition.js
  packages/utils/validateAppDefinition.test.js
Due: eslint

add schema definition for resource hooks
  packages/server/api/components/schemas/Hooks.js
  packages/server/api/components/schemas/ResourceDefinition.js
  packages/server/api/components/schemas/Security.js
  packages/server/api/components/schemas/index.js
  packages/utils/validateAppDefinition.js
Due: eslint

fix icon urls for notifications
  packages/server/utils/sendNotification.js
Due: eslint

fix broadcasting notifications
  packages/server/controllers/apps.js
Due: eslint

add missing provision environment variables to reset staging stage
  .gitlab-ci.yml
Due: prettier

fix send notification query
  packages/server/controllers/resources.js
Due: eslint

fix Hooks json schema
  packages/server/api/components/schemas/Hooks.js
Due: eslint

Make organization settings page functional
  packages/app/actions/user.test.tsx
  packages/app/actions/user.tsx
  packages/react-components/FormComponent/FormComponent.tsx
  packages/react-components/Select/Select.tsx
  packages/react-components/SimpleForm/index.tsx
  packages/react-components/SimpleInput/index.tsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.css
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.tsx
  packages/studio/components/OrganizationsSettings/index.tsx
  packages/studio/components/OrganizationsSettings/messages.tsx
  packages/studio/components/Roles/Roles.tsx
  packages/types/index.d.ts
  packages/utils/index.d.ts
Due: eslint, stylelint

introduce switch style for checkboxes
  packages/react-components/Checkbox/Checkbox.tsx
  packages/server/package.json
  packages/server/routes/bulmaHandler/index.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix password login in apps
  packages/app/components/EmailLogin/EmailLogin.css
  packages/app/components/EmailLogin/EmailLogin.tsx
  packages/app/components/EmailLogin/index.tsx
  packages/app/components/EmailLogin/messages.tsx
  packages/react-components/EmailLogin/EmailLogin.tsx
  packages/react-components/EmailLogin/index.tsx
  packages/react-components/index.tsx
  packages/server/middleware/conditional.js
  packages/server/routes/studioRouter/tokenHandler.js
  packages/server/utils/createServer.js
  packages/server/utils/getApp.js
Due: eslint, stylelint

implement subscriptions get call
  packages/server/api/components/schemas/ResourceDefinition.js
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
