Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Add preact block template
  packages/create-appsemble/lib/create/index.js
  packages/create-appsemble/lib/create/preact.js
  packages/create-appsemble/templates/preact/.appsemblerc.yaml
  packages/create-appsemble/templates/preact/block.ts
  packages/create-appsemble/templates/preact/package.json
  packages/create-appsemble/templates/preact/src/index.tsx
  packages/create-appsemble/templates/preact/tsconfig.json
Due: eslint, prettier

update references to onLoad in docs
  docs/development/app-development.md
  docs/development/app-notifications.md
  docs/reference/action.md
Due: prettier, remark lint

mention new event action
  docs/reference/action.md
  packages/app/utils/actions/event.tsx
  packages/types/index.d.ts
Due: eslint, prettier, remark lint

update developing-blocks to use event api
  docs/development/developing-blocks.md
Due: prettier, remark lint

add events documentation
  docs/development/events.md
Due: prettier, remark lint

fix scope conflict
  packages/app/utils/actions/event.tsx
Due: eslint

revert detail-viewer version
  blocks/detail-viewer/package.json
Due: prettier

fix typos in templates
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
Due: prettier

Fix default URL for blobs
  packages/app/utils/actions/resource.tsx
  packages/server/api/components/schemas/ResourceDefinition.js
  packages/service-worker/onFetch.test.ts
Due: eslint

Apply suggestion to packages/server/routes/studioRouter/tokenHandler.js
  packages/server/routes/studioRouter/tokenHandler.js
Due: eslint

Apply suggestion to blocks/data-loader/.appsemblerc.yaml
  blocks/data-loader/.appsemblerc.yaml
Due: prettier

resolve feedback
  blocks/data-loader/package.json
  blocks/data-loader/tsconfig.json
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  packages/cli/lib/generateBlockData.js
  packages/server/controllers/blocks.js
Due: eslint, prettier

Apply suggestion to blocks/map/src/createGetters.ts
  blocks/map/src/createGetters.ts
Due: eslint

Apply suggestion to blocks/map/src/index.ts
  blocks/map/src/index.ts
Due: eslint

fix name being required in detail-viewer
  blocks/detail-viewer/block.ts
Due: eslint

Apply suggestion to docs/blocks/map.md
  docs/blocks/map.md
Due: prettier, remark lint

convert FormBlock to functional component
  blocks/form/block.ts
  blocks/form/src/components/FormBlock/FormBlock.tsx
Due: eslint

implement listening for data in form
  blocks/form/.appsemblerc.yaml
  blocks/form/block.ts
  blocks/form/src/components/BooleanInput/BooleanInput.tsx
  blocks/form/src/components/EnumInput/EnumInput.tsx
  blocks/form/src/components/FileInput/FileInput.tsx
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/form/src/components/GeoCoordinatesInput/GeoCoordinatesInput.tsx
  blocks/form/src/components/NumberInput/NumberInput.tsx
  blocks/form/src/components/StringInput/StringInput.tsx
  packages/preact-components/Input/Input.tsx
Due: eslint, prettier

Implement OAuth2 authorization code flow and cleanups
  packages/app/components/EmailLogin/EmailLogin.tsx
  packages/app/components/Login/Login.tsx
  packages/app/components/Main/Main.tsx
  packages/app/components/OpenIDCallback/OpenIDCallback.css
  packages/app/components/OpenIDCallback/OpenIDCallback.tsx
  packages/app/components/OpenIDCallback/index.tsx
  packages/app/components/OpenIDCallback/messages.tsx
  packages/app/components/OpenIDLogin/OpenIDLogin.css
  packages/app/components/OpenIDLogin/OpenIDLogin.tsx
  packages/app/components/OpenIDLogin/index.tsx
  packages/app/components/OpenIDLogin/messages.tsx
  packages/app/components/Page/Page.test.tsx
  packages/app/components/Page/Page.tsx
  packages/app/components/UserProvider/UserProvider.tsx
  packages/app/utils/redirectOAuth2.tsx
  packages/server/api/components/schemas/App.js
  packages/server/api/components/schemas/Security.js
  packages/server/api/components/securitySchemes/app.js
  packages/server/api/paths/apps.js
  packages/server/api/paths/oauth.js
  packages/server/api/paths/resources.js
  packages/server/controllers/openId.js
  packages/server/controllers/openId.test.js
  packages/server/migrations/0.10.5-authorization-code.js
  packages/server/models/OAuth2AuthorizationCode.js
  packages/server/routes/studioRouter/index.js
  packages/server/routes/studioRouter/tokenHandler.js
  packages/server/routes/studioRouter/tokenHandler.test.js
  packages/server/utils/setupModels.js
  packages/studio/components/App/App.tsx
  packages/studio/components/OpenIDLogin/OpenIDLogin.css
  packages/studio/components/OpenIDLogin/OpenIDLogin.tsx
  packages/studio/components/OpenIDLogin/index.tsx
  packages/studio/components/OpenIDLogin/messages.tsx
  packages/types/index.d.ts
Due: eslint, stylelint

pass disabled state to button in GeoCoordinatesInput
  blocks/form/src/components/GeoCoordinatesInput/GeoCoordinatesInput.tsx
Due: eslint

update docs
  CHANGELOG.md
  docs/blocks/form.md
Due: prettier, remark lint

Fix: bulmaHandler paths for Windows systems
  packages/server/routes/bulmaHandler/index.js
Due: eslint

Apply suggestion to docs/guide/notifications.md
  docs/guide/notifications.md
Due: prettier, remark lint

Apply suggestion to docs/guide/resources.md
  docs/guide/resources.md
Due: prettier, remark lint

Apply suggestion to docs/guide/studio.md
  docs/guide/studio.md
Due: prettier, remark lint

Process OAuth2 related feedback
  packages/app/components/OpenIDCallback/OpenIDCallback.tsx
  packages/app/components/UserProvider/UserProvider.tsx
  packages/server/routes/studioRouter/tokenHandler.js
Due: eslint

Apply suggestion to docs/guide/basic-app.md
  docs/guide/basic-app.md
Due: prettier, remark lint

swap positioning of ‘actions’ and ‘events’
  docs/guide/basic-app.md
Due: prettier, remark lint

run prettier
  docs/guide/notifications.md
  docs/guide/resources.md
Due: prettier, remark lint

Fix token handler for authorization code
  packages/server/routes/studioRouter/tokenHandler.js
Due: eslint

Handle default role when logging in to an app
  packages/app/components/UserProvider/UserProvider.tsx
Due: eslint

Resolve feedback
  docs/development/app-development.md
  docs/guide/basic-app.md
Due: prettier, remark lint

Update documentation for the new login mechanism
  docs/architecture.md
  docs/reference/app.md
Due: prettier, remark lint

Return client credentials that don’t expire
  packages/server/controllers/oauth2.js
  packages/studio/components/ClientCredentials/index.tsx
  packages/studio/components/ClientCredentials/messages.tsx
Due: eslint

Release version 0.11.0
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/events.md
  docs/guide/notifications.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

merge 0.10.1~0.10.4 migrations
  packages/server/migrations/0.10.0-organization-roles-and-authentication.js
  packages/server/migrations/0.10.1-app-roles.js
  packages/server/migrations/0.10.2-resource-subscriptions.js
  packages/server/migrations/0.10.3-asset-associations.js
  packages/server/migrations/0.10.4-events.js
  packages/server/migrations/0.10.5-authorization-code.js
  packages/server/migrations/0.11.0-roles-subscriptions-associations.js
  packages/server/migrations/index.js
Due: eslint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

update changelog
  CHANGELOG.md
  docs/guide/basic-app.md
Due: prettier, remark lint

Release 0.11.1
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/migrations/0.10.0-organization-roles-and-authentication.js
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: eslint, helm lint, prettier, remark lint

Fix getting an app based on a custom domain
  packages/server/utils/getApp.js
Due: eslint
