Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

implement subscription state
  packages/app/components/AppSettings/AppSettings.css
  packages/app/components/AppSettings/AppSettings.tsx
  packages/app/components/AppSettings/index.tsx
  packages/app/components/AppSettings/messages.tsx
  packages/types/index.d.ts
  packages/utils/validateAppDefinition.js
Due: eslint, stylelint

Add reusable Button component
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/react-components/Button/Button.tsx
  packages/react-components/Button/index.tsx
  packages/react-components/CardFooterButton/CardFooterButton.tsx
  packages/react-components/SimpleSubmit/SimpleSubmit.tsx
  packages/react-components/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/ClientCredentials/index.tsx
  packages/studio/components/Editor/Editor.jsx
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
  packages/studio/components/OrganizationInvite/OrganizationInvite.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.tsx
  packages/studio/components/ProfileDropdown/ProfileDropdown.css
  packages/studio/components/ProfileDropdown/ProfileDropdown.tsx
  packages/studio/components/RateApp/RateApp.tsx
  packages/studio/components/ResourceTable/ResourceTable.jsx
  packages/studio/components/SideMenu/SideMenu.tsx
  packages/studio/components/UserSettings/UserSettings.tsx
Due: eslint, stylelint

Add reusable Message component
  packages/react-components/Message/Message.tsx
  packages/react-components/Message/index.tsx
  packages/react-components/MessagesProvider/MessagesProvider.tsx
  packages/react-components/SimpleFormError/index.tsx
  packages/react-components/index.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/EditPassword/EditPassword.tsx
  packages/studio/components/OrganizationInvite/OrganizationInvite.css
  packages/studio/components/OrganizationInvite/OrganizationInvite.jsx
  packages/studio/components/ResetPassword/ResetPassword.tsx
  packages/studio/components/VerifyEmail/VerifyEmail.tsx
Due: eslint, stylelint

Remove unused dependencies
  packages/server/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix TypeScript issue
  packages/studio/components/UserSettings/UserSettings.tsx
Due: eslint

add ResourceSubscription model
  packages/server/migrations/0.10.2-resource-subscriptions.js
  packages/server/migrations/index.js
  packages/server/models/App.js
  packages/server/models/AppSubscription.js
  packages/server/models/Resource.js
  packages/server/models/ResourceSubscription.js
  packages/server/utils/setupModels.js
Due: eslint

implement updating app resource subscriptions
  packages/app/components/AppSettings/AppSettings.tsx
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
Due: eslint

send notifications to subscribed users
  packages/server/controllers/apps.js
  packages/server/controllers/resources.js
Due: eslint

adjust “View App” link on app details page
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

fix bugs preventing from subscribing to resources
  packages/app/components/AppSettings/AppSettings.tsx
  packages/server/controllers/apps.js
Due: eslint

include tests for app notifications
  packages/server/controllers/appNotifications.js
  packages/server/controllers/appNotifications.test.js
  packages/server/controllers/apps.js
  packages/server/controllers/index.js
Due: eslint

add support for customizing notification body
  packages/server/controllers/resources.js
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Move useQuery hook to @appsemble/react-components
  packages/react-components/hooks/useQuery.ts
  packages/react-components/index.tsx
  packages/react-components/package.json
  packages/studio/components/AnonymousRoute/AnonymousRoute.tsx
  packages/studio/components/EditPassword/EditPassword.tsx
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
  packages/studio/components/VerifyEmail/VerifyEmail.tsx
Due: eslint, prettier

add role checks to resource API
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/Page/Page.jsx
  packages/app/components/SideNavigation/SideNavigation.tsx
  packages/server/controllers/resources.js
  packages/utils/checkAppRole.js
  packages/utils/index.d.ts
  packages/utils/index.js
Due: eslint

throw 401 when not logged in on secured resource calls
  packages/server/controllers/resources.js
Due: eslint

Disable apps in review environments
  .gitlab-ci.yml
Due: prettier

replace serviceWorker redux code with hooks
  packages/app/actions/index.tsx
  packages/app/actions/serviceWorker.tsx
  packages/app/components/App/App.jsx
  packages/app/components/AppSettings/AppSettings.tsx
  packages/app/components/AppSettings/index.tsx
  packages/app/components/PermissionRequest/PermissionRequest.tsx
  packages/app/components/PermissionRequest/index.tsx
  packages/app/components/ServiceWorkerRegistrationProvider/ServiceWorkerRegistrationProvider.tsx
  packages/app/components/ServiceWorkerRegistrationProvider/index.tsx
  packages/app/index.jsx
  packages/app/types.ts
  packages/app/utils/actions/resource.tsx
Due: eslint

process feedback
  packages/app/components/AppSettings/AppSettings.tsx
  packages/react-components/Checkbox/Checkbox.tsx
Due: eslint

Apply suggestion to packages/app/components/AppSettings/AppSettings.tsx
  packages/app/components/AppSettings/AppSettings.tsx
Due: eslint

split resource tests into describe blocks
  packages/server/controllers/resources.test.js
Due: eslint

Apply suggestion to packages/app/index.jsx
  packages/app/index.jsx
Due: eslint

add resource role tests
  packages/server/controllers/resources.js
  packages/server/controllers/resources.test.js
Due: eslint

remove unused imports
  packages/app/utils/actions/resource.tsx
Due: eslint

Convert some miscellaneous components to TypeScript
  package.json
  packages/app/components/Page/messages.tsx
  packages/studio/actions/openApi.ts
  packages/studio/components/AppList/components/AppCard/messages.tsx
  packages/studio/components/AppList/components/AppList/messages.tsx
  packages/studio/components/CMSRoot/CMSRoot.tsx
  packages/studio/components/CMSRoot/index.jsx
  packages/studio/components/CMSRoot/index.tsx
  packages/studio/components/CMSRoot/messages.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Editor/index.tsx
  packages/studio/components/ErrorFallback/ErrorFallback.tsx
  packages/studio/components/ErrorFallback/index.tsx
  packages/studio/components/ErrorFallback/messages.tsx
  packages/studio/components/OrganizationInvite/messages.tsx
  packages/studio/components/ResourceTable/messages.tsx
  packages/studio/package.json
  packages/types/index.d.ts
  packages/utils/index.d.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix types for createActions
  packages/app/components/Block/Block.tsx
  packages/app/components/Main/Main.jsx
  packages/app/components/Page/Page.jsx
  packages/app/components/Page/Page.test.jsx
  packages/app/components/ServiceWorkerRegistrationProvider/ServiceWorkerRegistrationProvider.tsx
  packages/app/types.ts
  packages/app/utils/makeActions.tsx
Due: eslint

Fix resolving webpack and appsemble config
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
  packages/cli/main.js
Due: eslint

Move OpenAPI document from redux to local state
  packages/studio/actions/index.ts
  packages/studio/actions/openApi.ts
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Editor/index.tsx
Due: eslint

implement subscribe action
  packages/app/components/Block/Block.tsx
  packages/app/components/ServiceWorkerRegistrationProvider/ServiceWorkerRegistrationProvider.tsx
  packages/app/types.ts
  packages/app/utils/actions/index.tsx
  packages/app/utils/actions/resource.tsx
  packages/server/controllers/appNotifications.js
  packages/server/controllers/resources.js
  packages/types/index.d.ts
Due: eslint

fix typing for ResourceSubscribeActionDefinition
  packages/types/index.d.ts
Due: eslint

add individual subscriptions to GET call
  packages/app/utils/actions/resource.tsx
  packages/server/api/paths/apps.js
  packages/server/controllers/appNotifications.js
Due: eslint

reorganize docs
  docs/blocks/map.mdx
  docs/deployment/deployment-using-docker-compose.mdx
  docs/deployment/deployment-using-helm.mdx
  docs/development/app-development.mdx
  docs/development/appsemble-resources.mdx
  docs/development/developing-blocks.mdx
  docs/development/dns.md
  docs/development/theming.mdx
  docs/getting-started.mdx
  doczrc.js
Due: eslint, prettier, remark lint

fix appsemble-resources link
  docs/reference/app.md
Due: prettier, remark lint

document app notifications
  docs/development/app-notifications.mdx
  docs/development/appsemble-resources.mdx
Due: none

Revert unrelated change
  packages/studio/components/Editor/Editor.tsx
Due: eslint

implement endpoint for individual resource subscriptions
  packages/server/api/paths/resources.js
  packages/server/controllers/resources.js
  packages/server/controllers/resources.test.js
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
