Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

flip boolean logic on skipInitialLoad
  blocks/data-loader/src/index.ts
Due: eslint

Fix crash on the organization invite page
  packages/studio/components/OrganizationInvite/OrganizationInvite.tsx
Due: eslint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Fix loading subscriptions in /Settings
  packages/app/components/AppSettings/AppSettings.tsx
Due: eslint

[WP] Bug fix with CMS and AppSettings
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/CMSRoot/CMSRoot.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
Due: eslint

Enable ESLint rule curly
  .eslintrc.js
Due: eslint

Build the SDK
  .gitlab-ci.yml
  config/webpack/shared.js
  packages/sdk/package.json
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.build.json
  tsconfig.build.json
  tsconfig.json
Due: eslint, prettier

Fix CI job for pack
  .gitlab-ci.yml
Due: prettier

fix protected route not redirecting properly
  packages/app/utils/actions/request.tsx
  packages/studio/components/UserProvider/UserProvider.tsx
Due: eslint

Use yarn in pack job
  .gitlab-ci.yml
Due: prettier

hide login button on login page
  packages/studio/components/ProfileDropdown/ProfileDropdown.tsx
Due: eslint

Fix tsconfigs
  blocks/filter/tsconfig.json
  packages/service-worker/tsconfig.json
Due: prettier

redirect to previous page when logging in
  packages/studio/components/ProfileDropdown/ProfileDropdown.tsx
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

implement query templating
  packages/app/utils/actions/request.tsx
Due: eslint

revert changes to request
  packages/app/utils/actions/request.tsx
Due: eslint

Include packages/sdk in Docker image
  Dockerfile
Due: none

WIP: Replace createApp with hooks, cleaned up code after merge request feedback
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/components/AppSideMenu/index.tsx
Due: eslint

Fix tsconfig
  tsconfig.json
Due: prettier

Release version 0.11.4
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

WIP: Link to newly created app when creating app, code cleanup
  packages/studio/actions/apps.ts
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint

Fix the organization invite page
  packages/studio/components/OrganizationInvite/OrganizationInvite.tsx
Due: eslint

Sync template apps with data in production
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
Due: prettier

update docs
  CHANGELOG.md
  docs/reference/action.md
Due: prettier, remark lint

Add stats block
  CHANGELOG.md
  blocks/stats/.appsemblerc.yaml
  blocks/stats/block.ts
  blocks/stats/package.json
  blocks/stats/src/index.css
  blocks/stats/src/index.tsx
  blocks/stats/tsconfig.json
  docs/blocks/blocks.md
  docs/blocks/stats.md
  docs/images/stats.png
Due: eslint, prettier, remark lint, stylelint

WIP: UpdateApp and refactoring
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppDetails/index.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/CMSRoot/CMSRoot.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Editor/index.tsx
  packages/studio/components/Notifications/Notifications.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
  packages/studio/hooks/useApp.ts
Due: eslint

Apply suggestion to packages/app/utils/actions/request.tsx
  packages/app/utils/actions/request.tsx
Due: eslint

Delete old apps
  apps/holiday/app.yaml
  apps/unlittered-template/app.yaml
Due: prettier

Fix and cleanup map
  blocks/map/src/index.css
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
Due: eslint, stylelint

Don’t crash if service workers are not available
  packages/app/index.tsx
Due: eslint

WIP: Refactor AppSettings as functional component + redux code refactor
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppContext/index.tsx
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/AppSettings/index.tsx
  packages/studio/components/CMSRoot/index.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Notifications/Notifications.tsx
  packages/studio/components/Notifications/index.tsx
  packages/types/index.d.ts
Due: eslint

WIP: Remove Redux en finish AppSettings (todo tests/merge)
  packages/app/components/SideMenu/SideMenu.tsx
  packages/server/routes/studioRouter/indexHandler.js
  packages/studio/actions/apps.ts
  packages/studio/actions/index.ts
  packages/studio/components/AppContext/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/AppSettings/index.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
  packages/studio/components/ResourceTable/index.tsx
  packages/studio/components/Roles/index.tsx
  packages/studio/index.tsx
  packages/studio/types.ts
Due: eslint

merge resource query and action query objects
  packages/app/utils/actions/resource.tsx
  packages/server/api/components/schemas/ResourceDefinition.js
  packages/types/index.d.ts
Due: eslint

update docs
  CHANGELOG.md
  docs/guide/resources.md
Due: prettier, remark lint

Use bulma calendar types from DefinitelyTyped
  package.json
  packages/@types-bulma-calendar/index.d.ts
  packages/@types-bulma-calendar/jest.config.js
  packages/@types-bulma-calendar/package.json
  packages/@types-bulma-calendar/tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix bug with rerendering
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
Due: eslint

Use new react router syntax
  packages/app/components/Main/Main.tsx
  packages/studio/components/App/App.tsx
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/CMS/CMS.tsx
  packages/studio/components/Settings/Settings.tsx
Due: eslint

Remove Redux packages and dependencies
  package.json
  packages/server/routes/studioRouter/indexHandler.js
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/package.json
Due: eslint, prettier

pass flowactions to BlockList component in FlowPage
  packages/app/components/FlowPage/FlowPage.tsx
Due: eslint
