Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Fix regex for the app icon filename in the CLI
  packages/cli/lib/traverseAppDirectory.js
Due: eslint

Add more verbose logging for app create command
  packages/cli/lib/traverseAppDirectory.js
Due: eslint

move roles to @appsemble/utils
  packages/server/api/components/schemas/Member.js
  packages/server/controllers/apps.js
  packages/server/controllers/blocks.js
  packages/server/controllers/organizations.js
  packages/server/controllers/resources.js
  packages/server/controllers/templates.js
  packages/server/models/Member.js
  packages/server/utils/checkRole.js
  packages/utils/constants/roles.js
Due: eslint

use organizations from API instead of JWT
  packages/studio/components/AppList/components/AppList/AppList.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/utils/checkRole.js
Due: eslint

fix docker deployment instructions
  docs/deployment-using-docker-compose.mdx
Due: none

make organization creator the owner upon creation
  packages/server/controllers/organizations.js
  packages/server/utils/test/testToken.js
Due: eslint

Replace user with userInfo in more places
  packages/server/utils/authentication.js
  packages/studio/components/AppList/components/AppList/AppList.jsx
  packages/studio/components/AppList/components/AppList/index.jsx
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
  packages/studio/components/ProtectedRoute/index.jsx
  packages/studio/components/ProtectedRoute/index.tsx
  packages/studio/index.jsx
  packages/studio/utils/getDB.ts
Due: eslint

use passed through organizations in CreateAppCard
  packages/server/api/paths/organizations.js
  packages/server/controllers/organizations.js
  packages/studio/components/AppList/components/AppList/AppList.jsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
Due: eslint

remove updateUser call when accepting invites
  packages/studio/components/OrganizationInvite/OrganizationInvite.jsx
Due: eslint

include tests for members/invites
  packages/server/controllers/organizations.test.js
Due: eslint

add role checks in organization settings
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/components/OrganizationsSettings/messages.jsx
Due: eslint

remove redundant AppList route
  packages/studio/components/App/App.jsx
Due: eslint

check length of createOrganization instead of implicit truthiness
  packages/studio/components/AppList/components/AppList/AppList.jsx
Due: eslint

render select component if user has manage role permissions
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
Due: eslint

Add OpenID userinfo endpoint
  packages/server/api/paths/index.js
  packages/server/api/paths/openid.js
  packages/server/controllers/index.js
  packages/server/controllers/openId.js
  packages/studio/components/AppList/components/AppList/AppList.jsx
  packages/studio/package.json
  packages/studio/utils/generateGravatarHash.ts
Due: eslint, prettier

Fix logging handled HTTP error responses
  packages/node-utils/loggerMiddleware.js
  packages/node-utils/loggerMiddleware.test.js
Due: eslint

revert sharp version
  packages/server/package.json
  packages/server/routes/appRouter/iconHandler.test.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

disable xml icon support temporarily
  packages/server/api/paths/apps.js
  packages/server/routes/serveIcon.js
  packages/studio/components/AppSettings/AppSettings.tsx
Due: eslint

Don’t log Koa HTTP errors
  packages/server/commands/start.js
Due: eslint

update snapshots
  packages/server/routes/serveIcon.js
Due: eslint

implement changing roles
  packages/server/api/paths/organizations.js
  packages/server/controllers/organizations.js
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/components/OrganizationsSettings/messages.jsx
Due: eslint

Add reusable CardFooterButton component
  packages/react-components/CardFooterButton/CardFooterButton.css
  packages/react-components/CardFooterButton/CardFooterButton.tsx
  packages/react-components/CardFooterButton/index.tsx
  packages/react-components/index.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.css
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.jsx
  packages/studio/components/Editor/Editor.css
  packages/studio/components/Editor/Editor.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.css
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/components/RateApp/RateApp.css
  packages/studio/components/RateApp/RateApp.tsx
  packages/studio/components/ResourceTable/ResourceTable.css
  packages/studio/components/ResourceTable/ResourceTable.jsx
  packages/studio/components/UserSettings/UserSettings.css
  packages/studio/components/UserSettings/UserSettings.jsx
  packages/types/index.d.ts
Due: eslint, stylelint

export routes and permissions from index
  packages/server/api/components/schemas/Member.js
  packages/server/controllers/apps.js
  packages/server/controllers/blocks.js
  packages/server/controllers/organizations.js
  packages/server/controllers/resources.js
  packages/server/controllers/templates.js
  packages/server/models/Member.js
  packages/studio/components/AppList/components/AppList/AppList.jsx
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/types.ts
  packages/studio/utils/checkRole.js
  packages/utils/constants/index.js
  packages/utils/constants/permissions.js
  packages/utils/constants/roles.js
  packages/utils/index.d.ts
Due: eslint

implement redirecting users if permissions are not sufficient
  packages/studio/components/App/App.jsx
  packages/studio/components/AppContext/AppContext.jsx
  packages/studio/components/AppContext/index.jsx
  packages/studio/components/OrganizationProvider/OrganizationProvider.tsx
  packages/studio/components/OrganizationProvider/index.tsx
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
  packages/studio/hooks/useOrganization.ts
  packages/studio/utils/checkRole.ts
Due: eslint

implement filtering AppSideMenu items based on roles
  packages/studio/components/AppContext/AppContext.jsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/OrganizationProvider/OrganizationProvider.tsx
  packages/studio/hooks/useOrganizations.ts
  packages/utils/index.d.ts
Due: eslint

Use bulma-calendar
  packages/react-components/Calendar/Calendar.tsx
  packages/react-components/Modal/Modal.tsx
  packages/server/controllers/auth.js
  packages/server/routes/studioRouter/indexHandler.js
  packages/studio/components/ClientCredentials/index.tsx
  packages/studio/components/ClientCredentials/messages.tsx
  packages/studio/components/ClientCredentials/scopeDescriptions.tsx
Due: eslint

Add option to migrate to the next version
  CHANGELOG.md
  package.json
  packages/cli/commands/start.js
  packages/server/commands/start.js
  packages/server/utils/migrate.js
Due: eslint, prettier, remark lint

Move staging to staging.appsemble.review
  .gitlab-ci.yml
  README.md
Due: prettier, remark lint

Fix broken link in the readme
  README.md
Due: prettier, remark lint

update tests
  packages/server/api/paths/organizations.js
  packages/server/controllers/organizations.js
  packages/server/controllers/organizations.test.js
  packages/server/controllers/user.test.js
Due: eslint

Enable CORS for the entire `/api` endpoint
  docs/getting-started.mdx
  packages/server/api/index.js
  packages/server/api/paths/apps.js
  packages/server/api/paths/assets.js
  packages/server/api/paths/blocks.js
  packages/server/api/paths/emails.js
  packages/server/api/paths/health.js
  packages/server/api/paths/invite.js
  packages/server/api/paths/oauth.js
  packages/server/api/paths/organizations.js
  packages/server/api/paths/resources.js
  packages/server/api/paths/templates.js
  packages/server/api/paths/user.js
  packages/server/package.json
  packages/server/utils/createServer.js
  packages/service-worker/onFetch.test.ts
  packages/service-worker/onFetch.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Document how to map *.localhost on dev machines
  CONTRIBUTING.md
  config/retext/personal.dic
Due: prettier, remark lint

implement server-side checkRole function
  packages/server/api/paths/organizations.js
  packages/server/controllers/blocks.test.js
  packages/server/utils/checkRole.js
Due: eslint

fix security schema api path
  packages/server/api/components/securitySchemes/apiUser.js
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

add provision chart
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

add app member model
  packages/server/models/App.js
  packages/server/models/AppMember.js
  packages/server/models/User.js
  packages/server/utils/setupModels.js
Due: eslint

Fix initial account provisioning
  .gitlab-ci.yml
  config/bin/register.js
  config/charts/appsemble/templates/provision.yaml
  package.json
Due: eslint, helm lint, prettier

add role definition
  packages/server/api/components/schemas/App.js
  packages/server/api/components/schemas/Block.js
  packages/server/api/components/schemas/Page.js
  packages/server/api/components/schemas/ResourceDefinition.js
Due: eslint
