Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

refactor: make email templates more consistent
  packages/server/src/templates/email/resend.md
  packages/server/src/templates/email/reset.md
  packages/server/src/utils/email/__snapshots__/renderEmail.test.js.snap
Due: prettier, remark lint

Fix typo in changelog
  CHANGELOG.md
Due: prettier, remark lint

add from manually when sending emails
  packages/server/src/utils/email/Mailer.js
  packages/server/src/utils/email/Mailer.test.js
Due: eslint

Convert remaining CLI code to TypeScript
  packages/cli/src/commands/app.ts
  packages/cli/src/commands/app/create.ts
  packages/cli/src/commands/app/update.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/remove.ts
  packages/cli/src/commands/block.ts
  packages/cli/src/commands/block/publish.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/theme.ts
  packages/cli/src/commands/theme/upload.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/discoverBlocks.ts
  packages/cli/src/lib/serverImport.ts
  packages/cli/src/types.ts
  packages/server/src/index.d.ts
Due: eslint

use defaults objects
  packages/server/src/utils/email/Mailer.js
  packages/server/src/utils/email/Mailer.test.js
Due: eslint

Prepare CLI for publishing to npm
  .gitlab-ci.yml
  CHANGELOG.md
  package.json
  packages/cli/babel.config.js
  packages/cli/bin/appsemble
  packages/cli/package.json
  packages/cli/src/main.ts
  packages/node-utils/index.js
Due: eslint, prettier, remark lint

Fix ESLint issue
  packages/node-utils/index.js
Due: eslint

final code review edits
  package-lock.json
  package.json
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
Due: eslint, prettier

move delete app button
  packages/studio/src/components/AppSettings/index.css
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/AppSettings/messages.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/Editor/messages.tsx
  packages/utils/src/blockUtils.ts
Due: eslint, stylelint

change label text
  packages/studio/src/components/AppSettings/messages.tsx
Due: eslint

Feedback code review
  packages/studio/src/components/AppSettings/index.tsx
  packages/utils/src/blockUtils.ts
Due: eslint

Apply suggestion to packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/AppSettings/index.tsx
Due: eslint

add strict property to filter block fields
  blocks/filter/block.ts
  blocks/filter/src/utils/toOData.tsx
Due: eslint

update docs
  CHANGELOG.md
  docs/blocks/filter.md
Due: prettier, remark lint

Rename test-success hook annotations to hook
  config/charts/appsemble-docs/templates/tests/test-connection.yaml
  config/charts/appsemble/templates/tests/test-connection.yaml
  config/charts/appsemble/templates/tests/test-ingress.yaml
Due: helm lint, prettier

fix CSV output for types that have a toJSON() function
  packages/server/src/utils/convertToCsv.test.ts
  packages/server/src/utils/convertToCsv.ts
Due: eslint

Fix subcommands for the CLI in development
  packages/cli/src/commands/app.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/block.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/theme.ts
  packages/cli/src/main.ts
Due: eslint

fix subscribe function
  packages/app/src/components/ServiceWorkerRegistrationProvider/index.tsx
  packages/utils/src/api/paths/apps.ts
Due: eslint

Fix various inconsistenties in Appsemble studio
  packages/react-components/src/Content/index.css
  packages/react-components/src/Content/index.tsx
  packages/react-components/src/Form/index.tsx
  packages/react-components/src/FormButtons/index.css
  packages/react-components/src/FormButtons/index.tsx
  packages/react-components/src/Message/index.tsx
  packages/react-components/src/Table/index.tsx
  packages/react-components/src/Title/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/AppDetails/index.tsx
  packages/studio/src/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/src/components/AppSettings/index.css
  packages/studio/src/components/AppSettings/index.tsx
  packages/studio/src/components/AppSettings/messages.tsx
  packages/studio/src/components/ClientCredentials/index.tsx
  packages/studio/src/components/ClientCredentials/messages.tsx
  packages/studio/src/components/EditPassword/index.tsx
  packages/studio/src/components/Editor/index.css
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/Login/index.css
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/Notifications/index.tsx
  packages/studio/src/components/OAuth2Connect/index.tsx
  packages/studio/src/components/OrganizationsSettings/index.css
  packages/studio/src/components/OrganizationsSettings/index.tsx
  packages/studio/src/components/Register/index.tsx
  packages/studio/src/components/ResetPassword/index.css
  packages/studio/src/components/ResetPassword/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/Roles/index.tsx
  packages/studio/src/components/Settings/index.css
  packages/studio/src/components/Settings/index.tsx
  packages/studio/src/components/UserSettings/index.css
  packages/studio/src/components/UserSettings/index.tsx
  packages/studio/src/components/UserSettings/messages.tsx
Due: eslint, stylelint

set data by default in block-list
  blocks/button-list/src/index.tsx
Due: eslint

Load in object and number fields based on type
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Fix staging environment
  .gitlab-ci.yml
Due: prettier

Process feedback
  packages/react-components/src/Content/index.css
  packages/react-components/src/Content/index.tsx
  packages/react-components/src/Form/index.tsx
  packages/studio/src/components/EditPassword/index.tsx
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/Login/index.tsx
  packages/studio/src/components/Register/index.tsx
  packages/studio/src/components/ResetPassword/index.tsx
  packages/studio/src/components/Settings/index.tsx
Due: eslint, stylelint

Add border around dangerous actions
  packages/studio/src/components/AppSettings/index.css
  packages/studio/src/components/AppSettings/index.tsx
Due: eslint, stylelint

Fix instructions for running using Docker compose
  docs/deployment/docker-compose.md
Due: prettier, remark lint

Restore helm repo add
  .gitlab-ci.yml
Due: prettier

Upload template apps in staging environment
  .gitlab-ci.yml
Due: prettier

Run Lighthouse in for staging apps
  .eslintignore
  .eslintrc.js
  .gitignore
  .gitlab-ci.yml
  .prettierignore
  .stylelintignore
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  package.json
  packages/@types-lighthouse/index.d.ts
  packages/@types-lighthouse/package.json
  packages/@types-lighthouse/tsconfig.json
  packages/scripts/README.md
  packages/scripts/bin/scripts.js
  packages/scripts/package.json
  packages/scripts/src/commands/lighthouse.ts
  packages/scripts/src/index.ts
  packages/scripts/tsconfig.json
  tsconfig.build.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix ESLint issues
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/templates.js
  packages/server/src/utils/bulkDNSRestore.js
Due: eslint

Apply suggestion to packages/scripts/README.md
  packages/scripts/README.md
Due: prettier, remark lint

fix uploading app block styles
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/apps.test.js
Due: eslint

simplify logic
  blocks/list/src/index.tsx
Due: eslint

use base when loading data as well
  blocks/list/src/index.tsx
Due: eslint

update docs
  CHANGELOG.md
  docs/blocks/list.md
Due: prettier, remark lint

make no data message less robotic 🤖
  blocks/list/src/index.tsx
Due: eslint

support receiving initial data
  blocks/list/block.ts
  blocks/list/src/index.tsx
Due: eslint

Allow next as a version for appsemble migrate
  .gitlab-ci.yml
  config/charts/appsemble/README.md
  packages/server/src/commands/migrate.js
Due: eslint, helm lint, prettier, remark lint

Speed up CI
  .gitlab-ci.yml
Due: prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
