Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

Fix page event emitter initialization
  packages/app/components/Page/Page.tsx
Due: eslint

implement event action
  packages/app/components/Block/Block.tsx
  packages/app/types.ts
  packages/app/utils/actions/event.tsx
  packages/app/utils/actions/index.tsx
  packages/app/utils/makeActions.tsx
  packages/types/index.d.ts
Due: eslint

Reorder and clarify some docs
  apps/empty/app.yaml
  docs/development/app-development.md
  docs/getting-started.mdx
  docs/guide/basic-app.md
  docs/guide/dns.md
  docs/guide/index.md
  docs/guide/notifications.md
  docs/guide/resources.md
  docs/guide/security.md
  docs/guide/studio.md
  docs/guide/theming.md
  docs/reference/action.md
  docs/reference/app.md
  doczrc.js
Due: eslint, prettier, remark lint

Apply suggestion to docs/guide/basic-app.md
  docs/guide/basic-app.md
Due: prettier, remark lint

update snapshots
  packages/app/components/Page/__snapshots__/Page.test.tsx.snap
Due: none

Process MR feedback
  apps/empty/app.yaml
  docs/guide/basic-app.md
  docs/guide/studio.md
Due: prettier, remark lint

Fix typo
  docs/guide/basic-app.md
Due: prettier, remark lint

fix validation
  packages/server/api/components/schemas/Block.js
  packages/utils/validateAppDefinition.js
Due: eslint

implement proxying events
  blocks/data-loader/src/index.css
  packages/app/components/Block/Block.tsx
  packages/app/types.ts
  packages/app/utils/actions/event.tsx
  packages/app/utils/makeActions.tsx
  packages/sdk/index.ts
  packages/server/routes/appRouter/indexHandler.js
  packages/types/index.d.ts
Due: eslint, stylelint

fix types for preact and react bootstrap
  packages/app/components/Block/Block.tsx
  packages/cli/lib/generateBlockData.js
  packages/preact/index.tsx
Due: eslint

fix dispatch race conditions
  packages/app/components/Block/Block.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/utils/makeActions.tsx
Due: eslint

convert list to use events
  blocks/list/.appsemblerc.yaml
  blocks/list/block.ts
  blocks/list/package.json
  blocks/list/src/components/ListBlock/ListBlock.tsx
Due: eslint, prettier

return null if layout is hidden
  packages/app/components/Block/Block.tsx
Due: eslint

add error handling to list block
  blocks/list/package.json
  blocks/list/src/components/ListBlock/ListBlock.tsx
Due: eslint, prettier

add @appsemble/types dependency
  packages/preact/package.json
Due: prettier

implement error submission
  blocks/data-loader/src/index.ts
  blocks/list/src/components/ListBlock/ListBlock.tsx
  packages/app/components/Block/Block.tsx
  packages/sdk/index.ts
Due: eslint

simplify @appsemble/list
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/list/src/components/ListBlock/index.tsx
  blocks/list/src/index.css
  blocks/list/src/index.tsx
Due: eslint, stylelint

use new event api in @appsemble/feed
  blocks/feed/.appsemblerc.yaml
  blocks/feed/block.ts
  blocks/feed/src/components/Card/Card.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
Due: eslint, prettier

pass events
  packages/react/index.tsx
Due: eslint

Fix and simplify app authentication
  package.json
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/components/UserProvider/UserProvider.tsx
  packages/server/api/paths/apps.js
  packages/server/api/paths/openid.js
  packages/server/routes/studioRouter/tokenHandler.js
  packages/server/routes/studioRouter/tokenHandler.test.js
  packages/server/utils/authentication.js
  packages/server/utils/test/testToken.js
  packages/utils/generateGravatarHash.ts
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

use new event api in @appsemble/filter
  blocks/filter/.appsemblerc.yaml
  blocks/filter/block.ts
  blocks/filter/src/components/CheckBoxField/CheckBoxField.tsx
  blocks/filter/src/components/EnumField/EnumField.tsx
  blocks/filter/src/components/Field/Field.tsx
  blocks/filter/src/components/Field/index.tsx
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  blocks/filter/src/utils/toOData.tsx
Due: eslint, prettier

fix preact hooks import
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
Due: eslint

use new event api for @appsemble/map
  blocks/map/.appsemblerc.yaml
  blocks/map/src/createGetters.ts
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
Due: eslint, prettier

merge received data from refresh with load action
  blocks/data-loader/src/index.ts
Due: eslint

use new events api for @appsemble/detail-viewer
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/src/components/DetailViewerBlock/DetailViewerBlock.tsx
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.css
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/detail-viewer/src/components/FileRenderer/index.tsx
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/GeoCoordinatesRenderer.css
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/GeoCoordinatesRenderer.tsx
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/index.tsx
  blocks/detail-viewer/src/components/StringRenderer/StringRenderer.tsx
  blocks/detail-viewer/src/components/StringRenderer/index.tsx
  blocks/detail-viewer/src/components/renderers/FileRenderer/FileRenderer.tsx
Due: eslint, stylelint

add pageParameters to load action
  blocks/data-loader/src/index.ts
Due: eslint

Remove code related to Babel and JSX without TypeScript
  .eslintrc.js
  blocks/splash/.eslintrc.js
  config/webpack/app.js
  config/webpack/block.js
  config/webpack/shared.js
  config/webpack/studio.js
  jest.config.js
  package.json
  packages/app/jest.config.js
  packages/create-appsemble/commands/block.js
  packages/create-appsemble/lib/create/index.js
  packages/create-appsemble/lib/create/react.js
  packages/create-appsemble/templates/react/.appsemblerc.yaml
  packages/create-appsemble/templates/react/package.json
  packages/create-appsemble/templates/react/src/components/TableBlock/TableBlock.jsx
  packages/create-appsemble/templates/react/src/components/TableBlock/index.jsx
  packages/create-appsemble/templates/react/src/index.jsx
  packages/server/utils/createServer.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

use new events api for @appsemble/detail-viewer
  blocks/detail-viewer/.appsemblerc.yaml
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/package.json
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/detail-viewer/src/components/GeoCoordinatesRenderer/GeoCoordinatesRenderer.tsx
Due: eslint, prettier

remove onLoad action
  blocks/feed/block.ts
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

fix types
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  packages/react/package.json
  packages/server/controllers/blocks.test.js
Due: eslint, prettier

adjust types
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  blocks/feed/src/index.tsx
Due: eslint

update block docs
  docs/blocks/data-loader.md
  docs/blocks/detail-viewer.md
  docs/blocks/feed.md
  docs/blocks/filter.md
  docs/blocks/list.md
  docs/blocks/map.md
Due: prettier, remark lint

remove wrappedcomponentprops
  blocks/filter/src/components/Field/Field.tsx
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  packages/server/controllers/blocks.js
  packages/server/controllers/blocks.test.js
Due: eslint

fix flowpage
  packages/app/components/FlowPage/FlowPage.tsx
Due: eslint

update app templates
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
Due: prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
