Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

i18n image alt texts
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppDetails/messages.tsx
  packages/studio/components/ProfileDropdown/ProfileDropdown.jsx
  packages/studio/components/ProfileDropdown/messages.jsx
Due: eslint

implement app rating tests
  packages/server/controllers/apps.test.js
Due: eslint

resolve feedback
  packages/studio/components/Rating/Rating.tsx
Due: eslint

convert user ID to number
  packages/studio/actions/user.ts
Due: eslint

Release version 0.9.4
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/app-development.mdx
  docs/blocks/markdown.mdx
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/dom-types/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

fix yaml content conversion
  packages/server/controllers/apps.js
  packages/server/controllers/apps.test.js
Due: eslint

Bump dependencies
  .eslintignore
  .eslintrc.js
  blocks/detail-viewer/src/components/renderers/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  blocks/filter/package.json
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  blocks/form/package.json
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/map/package.json
  package.json
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/Page/Page.jsx
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/index.test.tsx
  packages/server/api/index.js
  packages/server/controllers/resources.test.js
  packages/server/package.json
  packages/studio/components/ProfileDropdown/ProfileDropdown.jsx
  packages/studio/components/ResourceTable/ResourceTable.jsx
  packages/studio/components/SideMenu/SideMenu.tsx
  packages/studio/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix broken snapshot test
  packages/react/__snapshots__/index.test.tsx.snap
Due: none

set timeout on leaflet maps to 10 seconds instead of 1 second
  blocks/form/src/components/GeoCoordinatesInput/GeoCoordinatesInput.tsx
  blocks/map/src/index.ts
  packages/preact-components/Location/Location.tsx
  packages/react-components/Location/Location.tsx
Due: eslint

use custom xml parsing
  package.json
  packages/app/package.json
  packages/app/utils/actions/request.tsx
  packages/app/utils/xmlToJson.test.tsx
  packages/app/utils/xmlToJson.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Explicitly mention Docker and Docker Compose requirements
  README.md
Due: prettier, remark lint

show location not found error when permission is denied
  blocks/form/src/components/GeoCoordinatesInput/GeoCoordinatesInput.tsx
  blocks/map/src/index.ts
Due: eslint

add note about provisioning app templates
  README.md
Due: prettier, remark lint

add --all parameters to app and block CLI commands
  .gitlab-ci.yml
  README.md
  apps/unlittered/amsterdam-logo.svg
  apps/unlittered/app.yaml
  packages/cli/commands/app/create.js
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
  packages/cli/lib/registerBlock.js
  packages/cli/lib/traverseAppDirectory.js
Due: eslint, prettier, remark lint

update documentation
  CHANGELOG.md
  README.md
Due: prettier, remark lint

apply fullscreen class to modal instead of wrapper div
  CHANGELOG.md
  packages/app/components/PageDialog/PageDialog.tsx
Due: eslint, prettier, remark lint

add closable property to dialogs
  CHANGELOG.md
  docs/reference/action.md
  packages/app/components/PageDialog/PageDialog.tsx
  packages/app/types.ts
  packages/app/utils/actions/dialog.tsx
  packages/react-components/Modal/Modal.tsx
  packages/types/index.d.ts
Due: eslint, prettier, remark lint

replace close button with clear button
  CHANGELOG.md
  blocks/filter/src/components/FilterBlock/FilterBlock.css
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  blocks/filter/src/components/FilterBlock/messages.tsx
Due: eslint, prettier, remark lint, stylelint

Implement OpenAPI schema based XML parsing
  packages/app/package.json
  packages/app/utils/actions/request.tsx
  packages/app/utils/xmlToJson.test.tsx
  packages/app/utils/xmlToJson.tsx
Due: eslint, prettier

Move XML related changelog entries to unreleased
  CHANGELOG.md
Due: prettier, remark lint

Use appsemble.review for review environments
  .gitlab-ci.yml
Due: prettier

remove outside dialog clear filter button
  CHANGELOG.md
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
Due: eslint, prettier, remark lint

Use Helm install for installing review environments
  .gitlab-ci.yml
Due: prettier

initialize postCss instance once
  packages/server/routes/bulmaHandler/index.js
Due: eslint

Fix deployment to production
  .gitlab-ci.yml
Due: prettier

Release version 0.9.5
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/app-development.mdx
  docs/blocks/markdown.mdx
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/dom-types/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

implement --build flag
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
  packages/cli/lib/buildBlock.js
  packages/cli/package.json
Due: eslint, prettier, remark lint

use blocks webpack config
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
Due: eslint

wip
  packages/server/utils/permissions.js
Due: eslint

rename webpackConfigPath to webpackConfig
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
  packages/cli/lib/buildBlock.js
Due: eslint

remove redundant join()
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
Due: eslint

remove “Building Blocks” section
  README.md
Due: prettier, remark lint

implement role checks
  packages/server/controllers/apps.js
  packages/server/controllers/blocks.js
  packages/server/controllers/organizations.js
  packages/server/controllers/resources.js
  packages/server/controllers/templates.js
  packages/server/utils/permissions.js
Due: eslint

Fix some ESLint errors
  packages/cli/commands/app/create.js
  packages/cli/commands/app/update.js
  packages/cli/commands/block/register.js
  packages/server/middleware/oauth2.js
  packages/server/routes/studioRouter/oauth2CallbackHandler.js
  packages/server/routes/studioRouter/oauth2ConnectHandler.js
Due: eslint

implement migration
  packages/server/controllers/apps.js
  packages/server/controllers/blocks.js
  packages/server/controllers/organizations.js
  packages/server/controllers/resources.js
  packages/server/controllers/templates.js
  packages/server/migrations/0.9.6-organization-roles.js
  packages/server/migrations/index.js
  packages/server/models/Member.js
  packages/server/utils/permissions.js
Due: eslint

await reduce calls
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
Due: eslint

implement getMembers and getOrganizations
  packages/server/api/components/schemas/index.js
  packages/server/api/paths/organizations.js
  packages/server/api/paths/user.js
  packages/server/controllers/organizations.js
  packages/server/controllers/user.js
Due: eslint

display roles in member settings
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
  packages/studio/components/OrganizationsSettings/messages.jsx
Due: eslint

Rename appId flag to app-id
  packages/cli/commands/app/update.js
Due: eslint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
