Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Use optional chaining for pushManager
  packages/app/src/components/ServiceWorkerRegistrationProvider/index.tsx
Due: eslint

Release version 0.12.1
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/src/templates/preact/package.json
  packages/create-appsemble/src/templates/vanilla/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

fix tests
  packages/server/src/utils/convertToCsv.test.ts
Due: eslint

update changelog
  CHANGELOG.md
  config/retext/personal.dic
Due: prettier, remark lint

generate csv string based on arrays
  packages/server/src/utils/convertToCsv.ts
Due: eslint

guieditor addblock and logic
  config/webpack/studio.js
  packages/cli/src/lib/__fixtures__/generateBlockData/fontawesomeParameters/index.ts
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/Editor/messages.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

css didnt get commited
  packages/studio/src/components/GUIEditorToolbox/index.css
  packages/studio/src/components/GUIEditorToolboxBlock/index.css
Due: stylelint

fix asset fetching
  packages/server/src/routes/appRouter/blockAssetHandler.js
  packages/server/src/routes/appRouter/blockAssetHandler.test.js
Due: eslint

fix block tests
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/src/types.ts
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/apps.test.js
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/BlockVersion.ts
Due: eslint

Use contentHash in webpack builds
  config/webpack/app.js
  config/webpack/core.js
  config/webpack/studio.js
Due: eslint

Fix how old browsers are handled
  config/webpack/app.js
  config/webpack/html-minifier.json
  config/webpack/studio.js
  package.json
  packages/app/src/index.css
  packages/app/src/index.html
  packages/server/__mocks__/crypto.ts
  packages/server/src/routes/appRouter/indexHandler.js
  packages/server/src/routes/studioRouter/indexHandler.js
  packages/server/src/routes/studioRouter/indexHandler.test.js
  packages/studio/src/index.css
  packages/studio/src/index.html
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix CSS for older browsers
  packages/app/src/index.css
  packages/studio/src/index.css
Due: stylelint

Release version 0.12.2
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/button-list/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/src/templates/preact/package.json
  packages/create-appsemble/src/templates/vanilla/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

fix tests
  packages/cli/src/lib/generateBlockData.test.ts
  packages/server/src/controllers/appMembers.test.js
  packages/server/src/controllers/appNotifications.test.js
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/apps.test.js
  packages/server/src/controllers/organizations.test.js
Due: eslint

fix indexHandler
  packages/server/src/controllers/organizations.js
  packages/server/src/controllers/organizations.test.js
  packages/server/src/routes/appRouter/indexHandler.js
  packages/server/src/routes/appRouter/indexHandler.test.js
Due: eslint

- Edit block interface: inputfields based on selectedblocks. - Cleanup UI, code and flow.
  packages/sdk/src/index.ts
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.css
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.css
  packages/studio/src/components/GUIEditorToolboxBlock/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint, stylelint

adjust cli
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/types.ts
  packages/utils/src/api/paths/blocks.ts
Due: eslint

add block: extract field values, handle integer types, style fixes
  packages/studio/src/components/GUIEditorEditBlock/index.css
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolbox/index.tsx
Due: eslint, stylelint

refresh user info after verifying email
  packages/studio/src/components/VerifyEmail/index.tsx
Due: eslint

Reword test case descriptions for consistency
  packages/utils/src/validateAppDefinition.test.ts
Due: eslint

Remove unused export
  packages/utils/src/validateAppDefinition.ts
Due: eslint

Fix block validation
  packages/utils/src/validateAppDefinition.test.ts
  packages/utils/src/validateAppDefinition.ts
Due: eslint

fix generateBlockData tests
  packages/cli/src/lib/generateBlockData.test.ts
Due: eslint

escape headers
  packages/server/src/utils/convertToCsv.test.ts
  packages/server/src/utils/convertToCsv.ts
Due: eslint

Fix broken test
  packages/server/src/controllers/apps.test.js
Due: eslint

fix BlockConfig type
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/types.ts
Due: eslint

remove references to block register command
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  docs/development/developing-blocks.md
Due: prettier, remark lint

Editblock and save to app recipe
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/messages.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
Due: eslint

Make label in detail-viewer not render if it is undefined
  CHANGELOG.md
  blocks/detail-viewer/src/components/StringRenderer/index.tsx
  docs/blocks/detail-viewer.md
Due: eslint, prettier, remark lint

Make table headers optional
  CHANGELOG.md
  blocks/table/block.ts
  blocks/table/src/index.tsx
Due: eslint, prettier, remark lint

Make form labels optional
  CHANGELOG.md
  blocks/form/src/components/BooleanInput/index.tsx
  blocks/form/src/components/EnumInput/index.tsx
  blocks/form/src/components/NumberInput/index.tsx
  blocks/form/src/components/StringInput/index.tsx
  docs/blocks/form.md
  packages/preact-components/src/FormComponent/index.tsx
Due: eslint, prettier, remark lint

Apply suggestion to packages/utils/src/validateAppDefinition.test.ts
  packages/utils/src/validateAppDefinition.test.ts
Due: eslint

Link GitLab release page instead of tag page
  packages/studio/src/components/Toolbar/index.tsx
Due: eslint

fix detail-viewer labels still falling back
  blocks/detail-viewer/src/components/StringRenderer/index.tsx
Due: eslint

Apply suggestion to packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.js
Due: eslint

Apply suggestion to packages/server/src/migrations/0.12.0-remove-block-definition.js
  packages/server/src/migrations/0.12.0-remove-block-definition.js
Due: eslint

Apply suggestion to blocks/detail-viewer/src/components/StringRenderer/index.tsx
  blocks/detail-viewer/src/components/StringRenderer/index.tsx
Due: eslint
