Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

Fix various dependency issues
  blocks/button-list/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/list/src/components/ListItemWrapper/index.tsx
  blocks/table/src/components/ItemCell/index.tsx
  package.json
  packages/cli/package.json
  packages/node-utils/package.json
  packages/server/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

simplify initial data logic
  blocks/list/src/index.tsx
Due: eslint

Add support for icons in detail-viewer string fields
  blocks/form/src/components/StringInput/index.tsx
Due: eslint

Revert the appsemble remote in package.json
  package.json
Due: prettier

Use block data in detail-viewer
  blocks/detail-viewer/src/index.tsx
Due: eslint

CLI-fix
  package.json
Due: prettier

handle object, text, boolean, number and enum types from JSON schema
  packages/studio/src/components/JSONSchemaEditor/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Make CLI publish command fail if webpack fails
  packages/cli/src/lib/buildBlock.ts
Due: eslint

Implement new remap functionality
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/src/components/FileRenderer/index.css
  blocks/detail-viewer/src/components/FileRenderer/index.tsx
  blocks/detail-viewer/src/components/ImageField/ImageField.css
  blocks/detail-viewer/src/components/ImageField/index.tsx
  blocks/detail-viewer/src/components/StringRenderer/index.tsx
  packages/app/package.json
  packages/app/src/components/Block/index.tsx
  packages/app/src/utils/remap.test.tsx
  packages/app/src/utils/remap.tsx
  packages/preact-components/src/index.tsx
  packages/preact-components/src/useObjectURL/index.tsx
  packages/react/src/index.test.tsx
  packages/sdk/src/index.ts
  packages/utils/src/validateAppDefinition.ts
Due: eslint, prettier, stylelint

Fix hasErrors function call
  packages/cli/src/lib/buildBlock.ts
Due: eslint

implement propagating hooks
  packages/server/src/controllers/resources.js
  packages/types/index.d.ts
  packages/utils/src/api/components/schemas/ResourceDefinition.ts
  packages/utils/src/validateAppDefinition.test.ts
  packages/utils/src/validateAppDefinition.ts
Due: eslint

Update snapshots
  packages/react/src/__snapshots__/index.test.tsx.snap
Due: none

Remove postcss-discard-font-face
  config/webpack/core.js
  package.json
  postcss.config.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Flatten publish block API
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateActions/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateActions/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventEmitters/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventEmitters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventListeners/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateEventListeners/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateParameters/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/duplicateParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/fontawesomeParameters/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/fontawesomeParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/tsError/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/tsError/tsconfig.json
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/valid/index.ts
  packages/cli/src/lib/__fixtures__/getBlockConfigFromTypeScript/valid/tsconfig.json
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/getBlockConfigFromTypeScript.ts
  packages/cli/src/lib/makePayload.ts
  packages/cli/src/types.ts
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/utils/src/api/components/schemas/BlockVersion.ts
  packages/utils/src/api/paths/blocks.ts
Due: eslint, prettier

Build Docker image on schedules
  .gitlab-ci.yml
Due: prettier

Rename test file
  packages/cli/src/lib/getBlockConfigFromTypeScript.test.ts
Due: eslint

add tests
  packages/server/src/controllers/appNotifications.js
  packages/server/src/controllers/resources.js
  packages/server/src/controllers/resources.test.js
Due: eslint

add api endpoint for fetching assets
  packages/server/src/controllers/assets.js
  packages/utils/src/api/components/schemas/Asset.ts
  packages/utils/src/api/paths/assets.ts
Due: eslint

add menu and page for asset manager
  packages/studio/src/components/AppContext/index.tsx
  packages/studio/src/components/AppSideMenu/index.tsx
  packages/studio/src/components/AppSideMenu/messages.tsx
  packages/studio/src/components/Assets/index.tsx
Due: eslint

Remove except rule fro build docker image job
  .gitlab-ci.yml
Due: prettier

Output metrics for the Lighthouse job
  .gitlab-ci.yml
  packages/scripts/src/commands/lighthouse.ts
Due: eslint, prettier

Fix running Lighthouse in CI
  .gitlab-ci.yml
  config/bin/install-chrome-dependencies.sh
  config/docs/Dockerfile
  packages/scripts/src/commands/lighthouse.ts
Due: eslint, prettier

implement asset manager page
  package.json
  packages/react-components/src/Checkbox/index.tsx
  packages/studio/package.json
  packages/studio/src/components/Assets/index.css
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/Assets/messages.tsx
  packages/utils/src/api/paths/assets.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Make app routes not matching a dot serve the index
  packages/server/src/routes/appRouter/index.js
Due: eslint

Add handler for robots.txt
  packages/server/src/routes/appRouter/index.js
  packages/server/src/routes/appRouter/robotsHandler.test.js
  packages/server/src/routes/appRouter/robotsHandler.ts
Due: eslint

Fix app index.html theme color
  packages/app/src/index.html
  packages/server/src/routes/appRouter/indexHandler.js
Due: eslint, prettier

Specify display swap on Google fonts API
  packages/server/src/routes/bulmaHandler/index.ts
Due: eslint

Add meta desciption for apps index.html
  packages/app/src/index.html
Due: prettier

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

implement delete asset api endpoint
  packages/server/src/controllers/assets.js
  packages/server/src/controllers/assets.test.js
  packages/utils/src/api/paths/assets.ts
Due: eslint

finish asset manager
  packages/server/src/controllers/assets.js
  packages/studio/src/components/Assets/components/AssetPreview/index.css
  packages/studio/src/components/Assets/components/AssetPreview/index.tsx
  packages/studio/src/components/Assets/components/AssetPreview/messages.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/utils/src/api/paths/assets.ts
Due: eslint, stylelint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

resolve feedback
  packages/utils/src/validateAppDefinition.ts
Due: eslint

don’t await hook calls
  packages/server/src/controllers/resources.js
  packages/server/src/controllers/resources.test.js
  packages/server/src/utils/test/createWaitableMock.ts
Due: eslint

Add comment to describe the lighthouse pipeline
  .gitlab-ci.yml
Due: prettier

Add cross project trigger for 10-second-dance
  .gitlab-ci.yml
Due: prettier

Add missing only schedules
  .gitlab-ci.yml
Due: prettier

resolve feedback
  packages/react-components/src/Checkbox/index.tsx
  packages/server/src/controllers/assets.js
  packages/studio/src/components/Assets/components/AssetPreview/index.tsx
  packages/studio/src/components/Assets/index.tsx
  packages/studio/src/components/Assets/messages.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
