Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Replace the `--all` flag with globs
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  packages/cli/commands/app/create.js
  packages/cli/commands/block/publish.js
  packages/cli/commands/block/register.js
  packages/cli/lib/createApp.js
  packages/cli/lib/getBlockConfig.js
Due: eslint, prettier, remark lint

Apply suggestion to blocks/list/.appsemblerc.yaml
  blocks/list/.appsemblerc.yaml
Due: prettier

Apply suggestion to blocks/list/block.ts
  blocks/list/block.ts
Due: eslint

add tsdocs
  blocks/list/block.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Ban some TypeScript types
  .eslintrc.js
  blocks/filter/src/components/Field/Field.tsx
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/stats/src/index.tsx
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/components/UserProvider/UserProvider.tsx
  packages/app/types.ts
  packages/app/utils/actions/request.tsx
  packages/app/utils/makeActions.tsx
  packages/app/utils/mapValues.tsx
  packages/app/utils/resolveJsonPointers.tsx
  packages/preact/index.tsx
  packages/react-components/Checkbox/Checkbox.tsx
  packages/react-components/ErrorHandler/ErrorHandler.test.tsx
  packages/react-components/Icon/Icon.tsx
  packages/react-components/Location/Location.tsx
  packages/react-components/Modal/Modal.tsx
  packages/react-components/Select/Select.tsx
  packages/react-components/SimpleForm/index.tsx
  packages/react-components/SimpleInput/index.tsx
  packages/react/index.test.tsx
  packages/react/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/HelmetIntl/HelmetIntl.tsx
  packages/studio/components/NavLink/NavLink.tsx
  packages/studio/components/RateApp/RateApp.tsx
  packages/studio/components/SideMenu/SideMenu.tsx
  packages/types/index.d.ts
  packages/utils/getAppBlocks.d.ts
Due: eslint

adjust list block based on new SDK
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/list/src/components/ListItem/ListItem.css
  blocks/list/src/components/ListItem/ListItem.tsx
  blocks/list/src/components/ListItemWrapper/ListItemWrapper.tsx
Due: eslint, stylelint

Remove Amsterdam blocks
  .gitlab-ci.yml
  CHANGELOG.md
  blocks/action/.appsemblerc.yaml
  blocks/action/block.ts
  blocks/action/package.json
  blocks/action/src/index.css
  blocks/action/src/index.tsx
  blocks/action/tsconfig.json
  blocks/action/webpack.config.js
  blocks/navigation/.appsemblerc.yaml
  blocks/navigation/block.ts
  blocks/navigation/package.json
  blocks/navigation/src/index.tsx
  blocks/navigation/src/style.css
  blocks/navigation/tsconfig.json
  blocks/navigation/webpack.config.js
  blocks/splash/.appsemblerc.yaml
  blocks/splash/block.ts
  blocks/splash/package.json
  blocks/splash/src/animation-loop.gif
  blocks/splash/src/animation-start.gif
  blocks/splash/src/background.svg
  blocks/splash/src/check.svg
  blocks/splash/src/cross.svg
  blocks/splash/src/index.css
  blocks/splash/src/index.tsx
  blocks/splash/tsconfig.json
  blocks/splash/webpack.config.js
Due: eslint, prettier, remark lint, stylelint

Add missing webpack config for list block
  blocks/list/webpack.config.js
Due: eslint

Fix CSS for list block
  blocks/list/src/components/ListItem/ListItem.css
  blocks/list/src/components/ListItem/ListItem.tsx
Due: eslint, stylelint

Remove intermediate onClick handler for list block
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/list/src/components/ListItem/ListItem.tsx
Due: eslint

Add note about loading geocoordinates
  docs/blocks/form.md
Due: prettier, remark lint

use hooks in roles component
  packages/studio/components/Roles/Roles.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Apply suggestion to packages/studio/components/Roles/Roles.tsx
  packages/studio/components/Roles/Roles.tsx
Due: eslint

Automate publishing of @appsemble/sdk
  .gitignore
  .gitlab-ci.yml
Due: prettier

Call ready in form block
  blocks/form/src/components/FormBlock/FormBlock.tsx
Due: eslint

replace several OR checks with null coalescing operator
  blocks/detail-viewer/src/components/StringRenderer/StringRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  blocks/filter/src/components/CheckBoxField/CheckBoxField.tsx
  blocks/filter/src/components/EnumField/EnumField.tsx
  blocks/form/src/components/BooleanInput/BooleanInput.tsx
  blocks/form/src/components/EnumInput/EnumInput.tsx
  blocks/form/src/components/StringInput/StringInput.tsx
  blocks/stats/src/index.tsx
  blocks/table/src/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

enable optional chaining eslint rule
  .eslintrc.js
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  blocks/form/src/components/FileInput/FileEntry.tsx
  packages/app/components/BottomNavigation/BottomNavigation.tsx
  packages/app/components/PageDialog/PageDialog.tsx
  packages/app/components/SideNavigation/SideNavigation.tsx
  packages/app/utils/actions/request.tsx
  packages/app/utils/actions/resource.tsx
  packages/react-components/MessagesProvider/MessagesProvider.tsx
  packages/studio/components/AppSettings/AppSettings.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
Due: eslint

Release version 0.11.5
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/create-appsemble/templates/vanilla/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

Add asset util function. Inject asset util function. Use asset util function in detail viewer.
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  packages/app/components/Block/Block.tsx
  packages/sdk/src/index.ts
Due: eslint

Delete unused file
  packages/types/index.js
Due: eslint

fix types
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  packages/app/components/Block/Block.tsx
  packages/app/components/SideMenuButton/SideMenuButton.tsx
  packages/app/utils/actions/request.tsx
Due: eslint

Fix a typo in examples in the docs
  docs/guide/security.md
Due: prettier, remark lint

Log block configuration correctly
  packages/cli/lib/getBlockConfig.js
Due: eslint

resolve feedback
  blocks/feed/src/components/Card/Card.tsx
Due: eslint

Only inject authorization on Appsemble API requests
  packages/app/components/AppSettings/AppSettings.tsx
  packages/app/components/UserProvider/UserProvider.tsx
  packages/app/utils/actions/resource.tsx
Due: eslint

normalize the logic for navigation components
  packages/app/components/App/App.tsx
  packages/app/components/BottomNavigation/BottomNavigation.tsx
  packages/app/components/Navigation/Navigation.tsx
  packages/app/components/Navigation/index.tsx
  packages/app/components/SideNavigation/SideNavigation.tsx
Due: eslint

Replace CLI request module with axios interceptors
  packages/cli/commands/theme/upload.js
  packages/cli/jest.config.js
  packages/cli/lib/createApp.js
  packages/cli/lib/initAxios.js
  packages/cli/lib/interceptors.js
  packages/cli/lib/interceptors.test.js
  packages/cli/lib/publish.js
  packages/cli/lib/registerBlock.js
  packages/cli/lib/request.js
  packages/cli/lib/updateApp.js
  packages/cli/lib/uploadAppBlockTheme.js
  packages/cli/package.json
Due: eslint, prettier

Skip initializing optional fields
  CHANGELOG.md
  blocks/form/src/components/FormBlock/FormBlock.tsx
Due: eslint, prettier, remark lint

Add block headers
  docs/reference/page.md
  packages/app/components/Block/Block.css
  packages/app/components/Block/Block.tsx
  packages/sdk/src/index.ts
  packages/server/api/components/schemas/Block.js
Due: eslint, prettier, remark lint, stylelint

Render out empty selection field for optional enums
  blocks/form/src/components/EnumInput/EnumInput.tsx
  docs/blocks/form.md
Due: eslint, prettier, remark lint

Remove preactRoot from @appsemble/preact
  blocks/feed/src/components/FeedBlock/FeedBlock.css
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  blocks/feed/src/index.css
  blocks/feed/src/index.tsx
  packages/preact/index.tsx
Due: eslint, stylelint

include enum label in docs
  docs/blocks/form.md
Due: prettier, remark lint

fix CLI app update
  packages/cli/lib/updateApp.js
  packages/server/api/paths/apps.js
Due: eslint

fix pipeline warnings
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  packages/react/index.test.tsx
Due: eslint

Release version 0.11.6
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/create-appsemble/templates/vanilla/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

Specify Appsemble CLI user-agent
  packages/cli/lib/initAxios.js
Due: eslint

use ?? for resource actions
  packages/app/utils/actions/resource.tsx
  packages/server/api/index.js
Due: eslint

fix block role validation for pages with subpages
  packages/utils/validateAppDefinition.js
Due: eslint

prepend api url for blobs
  packages/app/utils/actions/resource.tsx
Due: eslint
