Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

implement cloning apps
  packages/server/controllers/templates.js
  packages/studio/actions/apps.ts
  packages/studio/components/AppDetails/AppDetails.css
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppDetails/index.tsx
  packages/studio/components/AppDetails/messages.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint, stylelint

fix bulma typing import
  packages/react-components/Calendar/Calendar.tsx
Due: eslint

resolve feedback
  packages/react-components/Input/Input.tsx
  packages/server/controllers/templates.js
  packages/server/utils/checkRole.js
  packages/studio/components/AppDetails/AppDetails.css
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint, stylelint

Fix managing user profiles
  packages/server/api/components/requestBodies/user.js
  packages/server/api/components/schemas/User.js
  packages/server/api/components/schemas/UserEmail.js
  packages/server/api/components/schemas/index.js
  packages/server/api/paths/user.js
  packages/server/controllers/user.js
  packages/server/controllers/user.test.js
  packages/studio/components/AppContext/index.jsx
  packages/studio/components/AppList/components/CreateAppCard/index.jsx
  packages/studio/components/CMS/CMS.jsx
  packages/studio/components/CMS/index.jsx
  packages/studio/components/OrganizationInvite/OrganizationInvite.jsx
  packages/studio/components/OrganizationInvite/index.jsx
  packages/studio/components/UserSettings/UserSettings.jsx
  packages/studio/components/UserSettings/UserSettings.tsx
  packages/studio/components/UserSettings/index.jsx
  packages/studio/components/UserSettings/index.tsx
  packages/studio/components/UserSettings/messages.tsx
  packages/studio/types.ts
Due: eslint

fix CreateAppCard SimpleForm field names
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint

include tsx files
  packages/studio/components/ResetPassword/index.tsx
  packages/studio/components/Toolbar/Toolbar.tsx
  packages/studio/components/Toolbar/index.tsx
  packages/studio/components/Toolbar/messages.tsx
Due: eslint

Fix issues when registering client credentials
  packages/react-components/Calendar/Calendar.css
  packages/react-components/Calendar/Calendar.tsx
  packages/react-components/Checkbox/Checkbox.tsx
  packages/studio/components/ClientCredentials/index.tsx
Due: eslint, stylelint

Remove empty state on apps list when not logged in
  packages/studio/components/AppList/components/AppList/AppList.jsx
Due: eslint

Handle situation when linking OAuth2 accounts
  packages/studio/components/OAuth2Connect/OAuth2Connect.css
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
  packages/studio/components/OAuth2Connect/messages.tsx
Due: eslint, stylelint

fix tests
  packages/app/actions/user.test.tsx
  packages/app/components/Page/Page.test.jsx
  packages/app/components/Page/__snapshots__/Page.test.jsx.snap
  packages/server/api/components/schemas/Page.js
  packages/server/api/components/schemas/ResourceDefinition.js
Due: eslint

Add reusable useClickOutside hook
  packages/react-components/Dropdown/Dropdown.tsx
  packages/react-components/hooks/useClickOutside.tsx
  packages/react-components/index.tsx
Due: eslint

Apply suggestion to packages/server/controllers/oauth2.js
  packages/server/controllers/oauth2.js
Due: eslint

Change hook order in AppList
  packages/studio/components/AppList/components/AppList/AppList.jsx
Due: eslint

Fix error when creating a new app
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
Due: eslint

Fix app cloning
  packages/server/controllers/templates.js
  packages/studio/components/AppDetails/AppDetails.tsx
Due: eslint

Remove initAuth from AppContext in studio
  packages/studio/components/AppContext/AppContext.jsx
Due: eslint

Get match from hook in ProtectedRoute
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
Due: eslint

Add a temporary fix for logging in using passwords
  packages/server/api/components/securitySchemes/app.js
  packages/server/api/components/securitySchemes/cli.js
  packages/server/api/components/securitySchemes/index.js
  packages/server/api/paths/resources.js
  packages/server/routes/studioRouter/tokenHandler.js
  packages/server/utils/authentication.js
  packages/utils/constants/scopes.js
Due: eslint

Prepare release for version 0.10.0
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  config/retext/personal.dic
  docs/app-development.mdx
  docs/blocks/markdown.mdx
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/dom-types/package.json
  packages/jest-config/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/migrations/0.10.0-organization-roles-and-authentication.js
  packages/server/migrations/index.js
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: eslint, helm lint, prettier, remark lint

convert editor to functional component
  packages/studio/components/Editor/Editor.css
  packages/studio/components/Editor/Editor.jsx
  packages/studio/components/Editor/components/MonacoEditor/MonacoEditor.jsx
  packages/studio/components/Editor/index.jsx
Due: eslint, stylelint

fix page permission check
  packages/app/components/SideNavigation/SideNavigation.tsx
Due: eslint

add validating security definitions
  packages/app/utils/checkAppRole.tsx
  packages/server/api/components/schemas/Security.js
  packages/server/controllers/apps.js
  packages/server/controllers/apps.test.js
  packages/server/package.json
  packages/utils/getAppBlocks.js
  packages/utils/getAppBlocks.test.js
  packages/utils/package.json
  packages/utils/validateAppDefinition.js
  packages/utils/validateAppDefinition.test.js
Due: eslint, prettier

remove reference to BlockListProps
  packages/app/components/TabsPage/TabsPage.tsx
Due: eslint

add app role migration
  packages/server/migrations/0.10.1-app-roles.js
  packages/server/migrations/index.js
  packages/server/models/AppMember.js
Due: eslint

fix typing imports
  packages/app/components/PageDialog/PageDialog.tsx
  packages/app/components/TitleBar/TitleBar.tsx
Due: eslint

fix roles.tsx
  packages/studio/components/Roles/Roles.tsx
  packages/studio/components/Roles/index.tsx
Due: eslint

Convert simple components to functional components
  .eslintrc.js
  CONTRIBUTING.md
  packages/react-components/Form/Form.tsx
  packages/react-components/Icon/Icon.tsx
  packages/react-components/Loader/Loader.tsx
  packages/react/README.md
  packages/studio/components/AppList/components/AppCard/AppCard.jsx
  packages/studio/components/AppList/components/AppCard/index.jsx
  packages/studio/components/AppList/components/AppList/index.jsx
  packages/studio/components/CMSRoot/CMSRoot.jsx
  packages/studio/components/CMSRoot/index.jsx
  packages/studio/components/ErrorFallback/ErrorFallback.jsx
  packages/studio/components/HelmetIntl/HelmetIntl.tsx
  packages/studio/components/HelmetIntl/index.tsx
  packages/studio/components/Notifications/index.tsx
  packages/studio/components/RateApp/RateApp.tsx
  packages/studio/components/RateApp/index.tsx
  packages/studio/components/SocialLoginButton/SocialLoginButton.tsx
Due: eslint, prettier, remark lint

fix permissions
  packages/server/api/paths/apps.js
Due: eslint

add initialized state to useUser
  packages/studio/components/AppContext/AppContext.jsx
  packages/studio/components/OrganizationProvider/OrganizationProvider.tsx
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
  packages/studio/components/UserProvider/UserProvider.tsx
  packages/studio/hooks/useUser.ts
Due: eslint

include tests for app role policies
  packages/server/controllers/apps.js
  packages/server/controllers/apps.test.js
Due: eslint

resolve feedback
  packages/app/actions/user.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/BlockList/index.tsx
  packages/app/components/FlowPage/FlowPage.tsx
  packages/app/components/Page/messages.jsx
  packages/app/components/PageDialog/PageDialog.tsx
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/components/TabsPage/TabsPage.tsx
  packages/server/controllers/apps.js
Due: eslint

Bump dependencies
  blocks/action-button/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/markdown/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/jest-config/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/server/package.json
  packages/studio/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Revert unwanted change
  packages/studio/components/OrganizationProvider/OrganizationProvider.tsx
Due: eslint

Make Block component functional
  packages/app/components/Block/Block.tsx
  packages/app/components/Block/index.tsx
  packages/app/utils/injectCSS.tsx
Due: eslint

Fix ESLint issues
  .eslintrc.js
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

document app roles functionality
  docs/app-development.mdx
  docs/reference/app.md
  docs/reference/page.md
Due: prettier, remark lint

fit routes for docs links
  docs/app-development.mdx
  docs/appsemble-resources.mdx
  docs/architecture.mdx
  docs/deployment-using-docker-compose.mdx
  docs/deployment-using-helm.mdx
  docs/developing-blocks.mdx
  docs/dns.md
  docs/theming.mdx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix nginx config
  config/docs/nginx.conf
Due: none

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
