Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

dependency scanning:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  allow_failure: true
  script:
  - yarn gitlab-yarn-audit
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json

eslint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn eslint --format gitlab .
  artifacts:
    reports:
      codequality: gl-codequality.json

helm lint:
  image:
    name: lachlanevenson/k8s-helm:v3.0.0
    entrypoint:
    - /bin/sh
    - -c
  dependencies: []
  before_script:
  - helm repo add stable https://kubernetes-charts.storage.googleapis.com
  - helm dependency build config/charts/appsemble
  script:
  - helm lint config/charts/*

prettier:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn prettier

remark lint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn remark --frail .

stylelint:
  image: node:10-slim
  dependencies: []
  before_script:
  - yarn --frozen-lockfile
  script:
  - yarn stylelint .

Revert to Bulma 0.8.0
  packages/server/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

process feedback
  packages/cli/src/types.ts
  packages/server/src/controllers/appNotifications.test.js
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/server/src/migrations/0.12.0-remove-block-definition.js
  packages/server/src/models/BlockAsset.js
  packages/server/src/models/BlockDefinition.js
  packages/server/src/models/BlockVersion.js
  packages/utils/src/api/components/requestBodies/blockDefinition.ts
  packages/utils/src/api/components/requestBodies/index.ts
  packages/utils/src/api/components/responses/blockDefinition.ts
  packages/utils/src/api/components/responses/index.ts
  packages/utils/src/api/components/schemas/BlockDefinition.ts
  packages/utils/src/api/components/schemas/BlockVersion.ts
  packages/utils/src/api/components/schemas/index.ts
  packages/utils/src/api/paths/blocks.ts
  packages/utils/src/constants/patterns.ts
Due: eslint

use name instead of id
  config/webpack/block.js
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/src/lib/getBlockConfig.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/types.ts
Due: eslint

Rename blockDefinition to blockVersion where
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
Due: eslint

Update documentation
  docs/blocks/map.md
Due: prettier, remark lint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Convert some miscellaneous files to TypeScript
  package.json
  packages/@types-postcss-import/index.d.ts
  packages/@types-postcss-import/jest.config.js
  packages/@types-postcss-import/package.json
  packages/@types-postcss-import/tsconfig.json
  packages/server/package.json
  packages/server/src/middleware/appMapper.test.ts
  packages/server/src/middleware/appMapper.ts
  packages/server/src/middleware/boom.test.ts
  packages/server/src/middleware/boom.ts
  packages/server/src/middleware/conditional.js
  packages/server/src/middleware/conditional.ts
  packages/server/src/middleware/tinyRouter.js
  packages/server/src/middleware/tinyRouter.test.ts
  packages/server/src/middleware/tinyRouter.ts
  packages/server/src/routes/bulmaHandler/index.ts
  packages/server/src/routes/serveIcon.ts
  packages/server/src/routes/studioRouter/iconHandler.ts
  packages/server/src/utils/createSettings.ts
  packages/server/src/utils/getDefaultIcon/index.ts
  packages/server/src/utils/logSQL.ts
  packages/server/src/utils/makeCSP.js
  packages/server/src/utils/makeCSP.test.ts
  packages/server/src/utils/makeCSP.ts
  packages/server/src/utils/sentryDsnToReportUri.test.ts
  packages/server/src/utils/sentryDsnToReportUri.ts
  packages/server/src/utils/styleURL.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Include parameters in getBlockVersions
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
Due: eslint

Remove unused import
  packages/server/src/routes/studioRouter/iconHandler.ts
Due: eslint

Serve app styles from the app host
  packages/server/src/models/AppBlockStyle.js
  packages/server/src/models/OrganizationBlockStyle.js
  packages/server/src/routes/appRouter/blockAssetHandler.test.js
  packages/server/src/routes/appRouter/blockCSSHandler.js
  packages/server/src/routes/appRouter/blockCSSHandler.test.js
  packages/server/src/routes/appRouter/cssHandler.js
  packages/server/src/routes/appRouter/cssHandler.test.js
  packages/server/src/routes/appRouter/index.js
  packages/server/src/routes/appRouter/organizationBlockCSSHandler.js
  packages/server/src/routes/appRouter/organizationBlockCSSHandler.test.js
  packages/server/src/routes/appRouter/organizationCSSHandler.js
  packages/server/src/routes/appRouter/organizationCSSHandler.test.js
Due: eslint

Use app CSS from app host instead of studio
  packages/app/src/components/Block/index.tsx
  packages/app/src/index.html
  packages/app/src/types.ts
  packages/server/src/routes/appRouter/indexHandler.js
  packages/server/src/routes/appRouter/indexHandler.test.js
Due: eslint, prettier

tests
  packages/studio/src/components/GUIEditorToolboxBlock/__snapshots__/index.test.tsx.snap
  packages/studio/src/components/GUIEditorToolboxBlock/index.test.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.tsx
Due: eslint

Mark library packages as side effect free
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/utils/package.json
Due: prettier

lint changes
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.test.tsx
Due: eslint

Remove invalid logging statement
  packages/cli/src/commands/block/publish.js
Due: eslint

Return status code 409 on block version conflict
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
Due: eslint

Add export button to CMS
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/ResourceTable/messages.tsx
Due: eslint

Process feedback
  packages/server/src/models/App.js
  packages/server/src/models/AppBlockStyle.js
  packages/server/src/models/OrganizationBlockStyle.js
  packages/server/src/routes/appRouter/index.js
Due: eslint

Use memfs for tests regarding the file system
  packages/server/__mocks__/fs.ts
  packages/server/package.json
  packages/server/src/utils/dns/kubernetes.test.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Update studio.js
  config/webpack/studio.js
Due: eslint

Update index.ts
  packages/cli/src/lib/__fixtures__/generateBlockData/fontawesomeParameters/index.ts
Due: eslint

changes after merge
  packages/app/src/components/Block/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/GUIEditorToolbox/index.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.test.tsx
  packages/studio/src/components/GUIEditorToolboxBlock/index.tsx
Due: eslint

Apply suggestion to packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/components/ResourceTable/index.tsx
Due: eslint

Create reusable TextArea component
  packages/react-components/src/FormComponent/index.tsx
  packages/react-components/src/Textarea/index.css
  packages/react-components/src/Textarea/index.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/RateApp/index.tsx
Due: eslint, stylelint

Apply suggestion to packages/server/__mocks__/fs.ts
  packages/server/__mocks__/fs.ts
Due: eslint

extract download to utils
  packages/studio/src/components/ResourceTable/index.tsx
  packages/studio/src/utils/download.ts
Due: eslint

Fix the app caching logic in service worker
  packages/service-worker/src/onFetch.test.ts
  packages/service-worker/src/onFetch.ts
Due: eslint

Fix the CSP for older browser fallback in Studio
  packages/server/src/routes/studioRouter/indexHandler.js
Due: eslint

Move Block interface from sdk to utils
  packages/app/src/components/Block/index.tsx
  packages/app/src/components/BlockList/index.tsx
  packages/app/src/components/Page/index.tsx
  packages/app/src/types.ts
  packages/app/src/utils/makeActions.tsx
  packages/sdk/src/index.ts
  packages/types/index.d.ts
  packages/utils/src/blockUtils.ts
  packages/utils/src/getAppBlocks.test.ts
  packages/utils/src/getAppBlocks.ts
  packages/utils/src/validateAppDefinition.test.ts
Due: eslint

Normalize Page schema
  packages/utils/src/api/components/schemas/Page.ts
Due: eslint

Make sequelize instance global
  packages/server/src/commands/migrate.js
  packages/server/src/commands/restoreDNS.js
  packages/server/src/commands/start.js
  packages/server/src/middleware/tinyRouter.ts
  packages/server/src/models/index.js
  packages/server/src/routes/appRouter/cssHandler.test.js
  packages/server/src/routes/appRouter/organizationCSSHandler.test.js
  packages/server/src/utils/bulkDNSRestore.test.js
  packages/server/src/utils/logSQL.ts
  packages/server/src/utils/migrate.test.js
  packages/server/src/utils/setupModels.js
  packages/server/src/utils/sqlUtils.ts
  packages/server/src/utils/test/testSchema.js
Due: eslint

Add missing types for Sequelize
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Code review feedback
  packages/app/src/components/Block/index.tsx
  packages/sdk/src/index.ts
  packages/studio/src/components/Editor/index.tsx
  packages/studio/src/components/GUIEditor/index.tsx
  packages/studio/src/components/GUIEditorEditBlock/index.tsx
  packages/studio/src/components/MonacoEditor/index.tsx
  packages/utils/src/blockUtils.ts
Due: eslint

Fix tests
  packages/server/src/routes/studioRouter/indexHandler.test.js
Due: eslint

Fix type dependency issues
  blocks/action-button/tsconfig.json
  blocks/button-list/tsconfig.json
  blocks/data-loader/tsconfig.json
  blocks/detail-viewer/tsconfig.json
  blocks/feed/tsconfig.json
  blocks/filter/tsconfig.json
  blocks/form/tsconfig.json
  blocks/list/tsconfig.json
  blocks/map/tsconfig.json
  blocks/markdown/tsconfig.json
  blocks/table/tsconfig.json
  packages/app/src/utils/actions/request.tsx
  packages/app/tsconfig.json
  packages/cli/src/types.ts
  packages/cli/tsconfig.json
  packages/preact-components/tsconfig.json
  packages/preact/tsconfig.build.json
  packages/preact/tsconfig.json
  packages/react-components/tsconfig.json
  packages/react/tsconfig.json
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.build.json
  packages/sdk/tsconfig.json
  packages/server/src/routes/bulmaHandler/index.ts
  packages/server/src/types.ts
  packages/studio/tsconfig.json
  packages/types/index.d.ts
  tsconfig.build.json
Due: eslint, prettier

narrow down page type schema
  packages/utils/src/api/components/schemas/Page.ts
Due: eslint

require type for pages with subpageS
  packages/utils/src/api/components/schemas/Page.ts
Due: eslint

Fix ts configs for generateBlockData tests
  packages/cli/src/lib/__fixtures__/generateBlockData/duplicateActions/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/duplicateEventEmitters/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/duplicateEventListeners/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/duplicateParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/fontawesomeParameters/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/tsError/tsconfig.json
  packages/cli/src/lib/__fixtures__/generateBlockData/valid/tsconfig.json
Due: prettier

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock
