Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Add references to app definition JSON schema
  packages/server/api/components/schemas/ResourceDefinition.js
Due: eslint

Fix ingress service port in Helm chart
  config/charts/appsemble/templates/deployment.yaml
Due: helm lint, prettier

add basic test for getApp
  packages/server/utils/getApp.test.js
Due: eslint

Automatically upload blocks to production
  .gitlab-ci.yml
Due: prettier

Accept strings for --ingress-service-port
  packages/server/commands/restoreDNS.js
  packages/server/commands/start.js
Due: eslint

Release version 0.11.2
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

fix ids being overwritten by data in resources
  packages/server/controllers/resources.js
  packages/server/controllers/resources.test.js
Due: eslint

strip id from resources
  packages/server/controllers/resources.js
Due: eslint

Fix extracting blocks from an app definition
  packages/utils/getAppBlocks.d.ts
  packages/utils/getAppBlocks.js
  packages/utils/getAppBlocks.test.js
  packages/utils/getAppBlocks.test.ts
  packages/utils/index.d.ts
Due: eslint

Get Applist with React Hooks instead of redux
  packages/studio/actions/apps.ts
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/AppList/index.tsx
Due: eslint

fix styling of logout button in profile dropdown
  packages/studio/components/ProfileDropdown/ProfileDropdown.css
Due: stylelint

Add test for injecting app setting
  packages/server/routes/appRouter/indexHandler.js
  packages/server/routes/appRouter/indexHandler.test.js
Due: eslint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Fix initializing Sentry in app
  packages/app/index.tsx
Due: eslint

avoid appending {id} a second time
  packages/app/utils/actions/resource.tsx
Due: eslint

make move emit event optional
  CHANGELOG.md
  blocks/map/src/index.ts
  docs/blocks/map.md
Due: eslint, prettier, remark lint

add ready state to preact components
  blocks/detail-viewer/src/components/DetailViewerBlock/DetailViewerBlock.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/list/src/index.tsx
  packages/app/components/Block/Block.tsx
  packages/preact/index.tsx
Due: eslint

add skipInitialLoad parameter to data-loader
  CHANGELOG.md
  blocks/data-loader/block.ts
  blocks/data-loader/src/index.ts
  docs/blocks/data-loader.md
Due: eslint, prettier, remark lint

Stub EventEmitter in Page tests
  packages/app/components/Page/Page.test.tsx
  packages/app/components/Page/__snapshots__/Page.test.tsx.snap
Due: eslint

Ignore conflicts when publishing blocks to production
  .gitlab-ci.yml
Due: prettier

Simplify getApp tests
  packages/server/utils/getApp.test.js
Due: eslint

Test optional url option in getApp
  packages/server/utils/getApp.test.js
Due: eslint

Add jsdoc to getApp function
  packages/server/utils/getApp.js
Due: eslint

implement clustering markers
  blocks/map/package.json
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Upgrade Helm in CI to v3.1.0
  .gitlab-ci.yml
Due: prettier

add option to disable clustering and specify the max cluster radius
  CHANGELOG.md
  blocks/map/src/createGetters.ts
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
  docs/blocks/map.md
Due: eslint, prettier, remark lint

Upgrade Helm charts
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.lock
  config/charts/appsemble/Chart.yaml
  config/charts/appsemble/requirements.yaml
Due: helm lint, prettier

use own fork of markercluster
  blocks/map/package.json
  blocks/map/src/createGetters.ts
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Make app id required for assets
  CHANGELOG.md
  packages/server/migrations/0.11.3-non-nullable-asset-app-id.js
  packages/server/migrations/index.js
  packages/server/models/Asset.js
Due: eslint, prettier, remark lint

remove unused dependancy
  blocks/map/src/index.ts
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Process feedback
  packages/server/models/Asset.js
Due: eslint

Get AppList with React Hooks (fix)
  packages/studio/actions/apps.ts
Due: eslint

fix skipInitialLoad breaking when parameters is undefined
  blocks/data-loader/src/index.ts
Due: eslint

Release version 0.11.3
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holiday/app.yaml
  apps/person/app.yaml
  apps/unlittered-template/app.yaml
  blocks/action-button/package.json
  blocks/action/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/navigation/package.json
  blocks/splash/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/templates/preact/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

[WP] GetApp with AppProvider
  packages/studio/components/App/App.tsx
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppContext/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppProvider/AppProvider.tsx
  packages/studio/components/AppProvider/index.tsx
  packages/studio/hooks/useApp.ts
Due: eslint

Replace AppGet Redux calls with hooks
  packages/studio/actions/apps.ts
  packages/studio/components/App/App.tsx
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/Editor/Editor.tsx
  packages/studio/components/Notifications/Notifications.tsx
Due: eslint

fix openid redirects in editor
  packages/server/routes/studioRouter/indexHandler.js
Due: eslint

prevent infinite load on /Settings
  packages/app/components/AppSettings/AppSettings.tsx
Due: eslint

update tests
  packages/server/routes/studioRouter/indexHandler.test.js
Due: eslint
