Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

update changelog
  CHANGELOG.md
Due: prettier, remark lint

add missing spread operator
  packages/utils/validateAppDefinition.js
Due: eslint

rename response to data
  packages/cli/lib/updateApp.js
Due: eslint

Fix app create
  packages/cli/lib/createApp.js
  packages/cli/lib/updateApp.js
Due: eslint

simplify app validation using getAppBlocks()
  packages/utils/validateAppDefinition.js
  packages/utils/validateAppDefinition.test.js
Due: eslint

Allow CLI to update app block themes
  CHANGELOG.md
  packages/server/api/paths/apps.js
Due: eslint, prettier, remark lint

Fix path to frontend assets in production
  packages/server/src/middleware/frontend.js
Due: eslint

Bump all dependencies
  .remarkrc.js
  blocks/action-button/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/stats/package.json
  blocks/table/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/node-utils/package.json
  packages/node-utils/src/loggerMiddleware.test.js
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/server/src/controllers/appMembers.test.js
  packages/server/src/controllers/appNotifications.test.js
  packages/server/src/controllers/apps.test.js
  packages/server/src/controllers/oauth2.test.js
  packages/server/src/controllers/openId.test.js
  packages/server/src/controllers/resources.test.js
  packages/server/src/controllers/templates.test.js
  packages/server/src/routes/studioRouter/tokenHandler.test.js
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix after feedback snapshot tests
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  packages/react/__snapshots__/index.test.tsx.snap
Due: eslint

fix CLI commands in windows
  packages/cli/src/commands/app/create.js
  packages/cli/src/commands/block/publish.js
  packages/cli/src/commands/block/register.js
Due: eslint

Fix TypeScript errors
  blocks/feed/src/components/Card/Card.tsx
  packages/preact/src/index.tsx
  packages/react-components/src/Dropdown/Dropdown.tsx
  packages/studio/src/components/AppSettings/AppSettings.tsx
  packages/studio/src/components/ResourceTable/ResourceTable.tsx
Due: eslint

fix incorrect checks for updating subscriptions
  packages/server/src/controllers/appNotifications.js
Due: eslint

add unsubscribe action
  packages/app/src/utils/actions/index.tsx
  packages/app/src/utils/actions/resource.tsx
  packages/sdk/src/index.ts
  packages/types/index.d.ts
Due: eslint

implement toggling resources
  packages/server/src/api/paths/apps.js
  packages/server/src/controllers/appNotifications.js
  packages/server/src/controllers/appNotifications.test.js
Due: eslint

add toggleSubscribe action
  packages/app/src/utils/actions/resource.tsx
  packages/sdk/src/index.ts
  packages/types/index.d.ts
Due: eslint

update docs
  CHANGELOG.md
  docs/guide/notifications.md
Due: prettier, remark lint

Use specific Babel config for NodeJS code
  packages/node-utils/babel.config.js
  packages/node-utils/package.json
  packages/server/babel.config.js
  packages/server/package.json
  packages/utils/babel.config.js
  packages/utils/package.json
Due: eslint, prettier

explicitly set resourceId to null
  packages/app/src/utils/actions/index.tsx
  packages/server/src/controllers/appNotifications.js
Due: eslint

Fix OpenAPI types and imports
  packages/utils/src/api/components/parameters/blockId.ts
  packages/utils/src/api/components/schemas/App.ts
  packages/utils/src/api/components/schemas/Block.ts
  packages/utils/src/api/components/schemas/BlockDefinition.ts
  packages/utils/src/api/components/schemas/Member.ts
  packages/utils/src/api/components/schemas/OAuth2ClientCredentials.ts
  packages/utils/src/api/components/schemas/Organization.ts
  packages/utils/src/api/components/securitySchemes/cli.test.ts
  packages/utils/tsconfig.json
Due: eslint, prettier

fix value not being passed correctly
  packages/app/src/utils/actions/resource.tsx
  packages/server/src/controllers/appNotifications.js
Due: eslint

Remove unused Stylelint disabled rules
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.css
  blocks/form/src/components/FileInput/FileEntry.css
  packages/studio/src/components/AppSettings/AppSettings.css
Due: stylelint

Remove unused block script from package.json
  package.json
Due: prettier

util asset in feedblock
  blocks/detail-viewer/block.ts
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  packages/app/src/components/Block/Block.tsx
Due: eslint

Fix broken image issue when uploading new app icons
  packages/server/src/routes/studioRouter/indexHandler.js
Due: eslint

update tests
  packages/server/src/routes/studioRouter/indexHandler.test.js
Due: eslint

Apply suggestion to packages/server/src/routes/studioRouter/indexHandler.test.js
  packages/server/src/routes/studioRouter/indexHandler.test.js
Due: eslint

move all resource subscription actions to resource.subscription
  CHANGELOG.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/src/utils/actions/index.tsx
  packages/app/src/utils/actions/resource.tsx
  packages/sdk/src/index.ts
  packages/types/index.d.ts
Due: eslint, prettier, remark lint

Create useObjectURL hook
  packages/react-components/src/hooks/useObjectURL.tsx
  packages/react-components/src/index.tsx
  packages/studio/src/components/AppSettings/AppSettings.tsx
Due: eslint

Remove unnecessary CSP rule in studio
  packages/server/src/routes/studioRouter/indexHandler.js
  packages/server/src/routes/studioRouter/indexHandler.test.js
Due: eslint

Move preact-components into src directory
  packages/preact-components/src/FormComponent/FormComponent.css
  packages/preact-components/src/FormComponent/FormComponent.tsx
  packages/preact-components/src/FormComponent/index.tsx
  packages/preact-components/src/FormComponent/messages.tsx
  packages/preact-components/src/Icon/Icon.tsx
  packages/preact-components/src/Icon/index.tsx
  packages/preact-components/src/Input/Input.tsx
  packages/preact-components/src/Input/index.tsx
  packages/preact-components/src/Loader/Loader.css
  packages/preact-components/src/Loader/Loader.tsx
  packages/preact-components/src/Loader/index.tsx
  packages/preact-components/src/Location/Location.tsx
  packages/preact-components/src/Location/index.tsx
  packages/preact-components/src/Select/Select.tsx
  packages/preact-components/src/Select/index.tsx
  packages/preact-components/src/index.tsx
Due: eslint, stylelint

Downgrade leaflet again
  blocks/form/package.json
  blocks/map/package.json
  packages/preact-components/package.json
  packages/react-components/package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Convert node-utils to TypeScript
  package.json
  packages/node-utils/babel.config.js
  packages/node-utils/package.json
  packages/node-utils/src/AppsembleError.test.ts
  packages/node-utils/src/AppsembleError.ts
  packages/node-utils/src/handleError.test.ts
  packages/node-utils/src/handleError.ts
  packages/node-utils/src/index.d.ts
  packages/node-utils/src/index.ts
  packages/node-utils/src/logger.test.ts
  packages/node-utils/src/logger.ts
  packages/node-utils/src/loggerMiddleware.test.ts
  packages/node-utils/src/loggerMiddleware.ts
  packages/node-utils/tsconfig.build.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Specify to use commonjs for node-utils
  packages/node-utils/tsconfig.build.json
Due: prettier

add route for resource subscriptions for a resource type
  packages/server/src/api/components/parameters/endpoint.js
  packages/server/src/api/components/parameters/index.js
  packages/server/src/api/components/responses/index.js
  packages/server/src/api/components/responses/subscriptions.js
  packages/server/src/api/components/schemas/ResourceSubscription.js
  packages/server/src/api/components/schemas/index.js
  packages/server/src/api/paths/apps.js
  packages/server/src/api/paths/resources.js
  packages/server/src/controllers/resources.js
  packages/server/src/controllers/resources.test.js
Due: eslint

fix tests
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  packages/react/src/__snapshots__/index.test.tsx.snap
Due: eslint
