Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

replace blocks with blocks.parameters in sdk
  packages/app/src/components/Block/Block.tsx
  packages/react/src/__snapshots__/index.test.tsx.snap
  packages/react/src/index.test.tsx
  packages/sdk/src/index.ts
Due: eslint

update blocks, docs, create-appsemble to use parameters instead of block
  blocks/action-button/src/index.ts
  blocks/data-loader/src/index.ts
  blocks/detail-viewer/src/components/DetailViewerBlock/DetailViewerBlock.tsx
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  blocks/filter/src/components/FilterBlock/FilterBlock.tsx
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/map/src/index.ts
  blocks/markdown/src/index.ts
  blocks/stats/src/index.tsx
  blocks/table/src/index.tsx
  docs/development/developing-blocks.md
  packages/create-appsemble/src/templates/preact/src/index.tsx
Due: eslint, prettier, remark lint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Inline all Preact block root components
  blocks/detail-viewer/src/components/DetailViewerBlock/DetailViewerBlock.tsx
  blocks/detail-viewer/src/components/DetailViewerBlock/index.tsx
  blocks/detail-viewer/src/index.css
  blocks/detail-viewer/src/index.tsx
  blocks/feed/src/components/FeedBlock/FeedBlock.tsx
  blocks/feed/src/components/FeedBlock/index.tsx
  blocks/feed/src/index.css
  blocks/feed/src/index.tsx
  blocks/form/src/components/FormBlock/FormBlock.tsx
  blocks/form/src/components/FormBlock/index.tsx
  blocks/form/src/index.css
  blocks/form/src/index.tsx
  blocks/list/src/index.css
  blocks/list/src/index.tsx
  blocks/table/src/index.tsx
Due: eslint, stylelint

Resolve feedback
  blocks/data-loader/src/index.ts
  blocks/detail-viewer/src/components/FileRenderer/FileRenderer.tsx
  blocks/feed/src/components/Card/Card.tsx
  packages/app/src/components/Block/Block.tsx
Due: eslint

Apply suggestion to packages/sdk/src/index.ts
  packages/sdk/src/index.ts
Due: eslint

fixes after code review
  blocks/detail-viewer/block.ts
  packages/server/src/index.js~HEAD
Due: eslint

Fix wrong imports
  blocks/detail-viewer/src/index.tsx
  blocks/list/src/index.tsx
Due: eslint

support index signatures for actions
  packages/cli/src/lib/generateBlockData.js
Due: eslint

Remove unused file
  blocks/list/src/components/ListBlock/ListBlock.tsx
  blocks/list/src/components/ListBlock/index.tsx
Due: eslint

implement mapping index signature actions
  packages/app/src/utils/makeActions.tsx
  packages/utils/src/validateAppDefinition.ts
Due: eslint

add validation of “action” formatted properties
  packages/utils/src/validateAppDefinition.ts
Due: eslint

implement dynamic actions in table block
  blocks/table/block.ts
  blocks/table/src/index.tsx
Due: eslint

Convert most of @appsemble/cli to TypeScript
  package.json
  packages/@types-postcss-import/index.d.ts
  packages/@types-postcss-import/jest.config.js
  packages/@types-postcss-import/package.json
  packages/@types-postcss-import/tsconfig.json
  packages/cli/package.json
  packages/cli/src/lib/authentication.ts
  packages/cli/src/lib/buildBlock.ts
  packages/cli/src/lib/createApp.ts
  packages/cli/src/lib/discoverBlocks.ts
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/src/lib/getBlockConfig.ts
  packages/cli/src/lib/initAxios.ts
  packages/cli/src/lib/interceptors.test.ts
  packages/cli/src/lib/interceptors.ts
  packages/cli/src/lib/loadWebpackConfig.ts
  packages/cli/src/lib/makePayload.ts
  packages/cli/src/lib/processCss.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/lib/registerBlock.ts
  packages/cli/src/lib/traverseAppDirectory.ts
  packages/cli/src/lib/traverseBlockThemes.ts
  packages/cli/src/lib/updateApp.ts
  packages/cli/src/lib/uploadAppBlockTheme.ts
  packages/cli/src/types.ts
  packages/types/index.d.ts
  tsconfig.build.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Ignore npm install scripts when possible in CI
  .eslintrc.js
  .gitlab-ci.yml
Due: eslint, prettier

Fix tests
  packages/cli/src/lib/generateBlockData.test.ts
Due: eslint

Process feedback
  packages/cli/src/lib/publish.ts
Due: eslint

resolve feedback
  blocks/table/src/components/ItemCell/index.tsx
  blocks/table/src/components/ItemRow/index.tsx
  blocks/table/src/components/index.tsx
  blocks/table/src/index.tsx
  packages/app/src/utils/makeActions.tsx
  packages/cli/src/lib/generateBlockData.js
  packages/utils/src/validateAppDefinition.ts
Due: eslint

add regex check on action keys
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
Due: eslint

add validation for unused custom actions
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/utils/src/validateAppDefinition.ts
Due: eslint

fix clickable classnames
  blocks/table/src/components/ItemCell/index.tsx
  blocks/table/src/components/ItemRow/index.tsx
  blocks/table/src/index.tsx
Due: eslint

separate user tests in describe blocks
  packages/server/src/controllers/user.test.js
Due: eslint

separate auth tests in describe blocks
  packages/server/src/controllers/auth.test.js
Due: eslint

separate template tests in describe blocks
  packages/server/src/controllers/templates.test.js
Due: eslint

separate block tests in describe blocks
  packages/server/src/controllers/blocks.test.js
Due: eslint

Fix type error
  blocks/feed/src/index.tsx
Due: eslint

Handle TypeScript diagnostics when generating block data
  packages/cli/src/lib/__fixtures__/generateBlockData/tsError/index.ts
  packages/cli/src/lib/__fixtures__/generateBlockData/tsError/tsconfig.json
  packages/cli/src/lib/generateBlockData.test.ts
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/tsconfig.json
Due: eslint, prettier

Add support for custom marker icons
  blocks/map/block.ts
  blocks/map/package.json
  blocks/map/src/createIcon.ts
  blocks/map/src/createMarker.css
  blocks/map/src/index.css
  blocks/map/src/index.ts
  blocks/map/src/loadMarkers.ts
  packages/sdk/src/index.ts
Due: eslint, prettier, stylelint

add additional bulma interfaces
  packages/react-components/src/Icon/Icon.tsx
  packages/sdk/src/index.ts
Due: eslint

fix anyActions check
  packages/app/src/utils/makeActions.tsx
Due: eslint

implement button-list block
  blocks/button-list/.appsemblerc.yaml
  blocks/button-list/block.ts
  blocks/button-list/package.json
  blocks/button-list/src/components/Button/index.tsx
  blocks/button-list/src/components/ButtonWrapper/index.tsx
  blocks/button-list/src/index.css
  blocks/button-list/src/index.tsx
  blocks/button-list/tsconfig.json
  blocks/button-list/webpack.config.js
Due: eslint, prettier, stylelint

update docs
  CHANGELOG.md
  docs/blocks/blocks.md
  docs/blocks/button-list.md
  docs/images/button-list.png
Due: prettier, remark lint

update font awesome types
  blocks/button-list/package.json
Due: prettier

Use simpler types in map block
  blocks/map/src/createIcon.ts
Due: eslint

update snapshots
  packages/app/src/components/Page/__snapshots__/index.test.tsx.snap
  packages/react-components/src/ErrorHandler/__snapshots__/index.test.tsx.snap
  packages/react-components/src/Loader/__snapshots__/index.test.tsx.snap
  packages/react-components/src/Modal/__snapshots__/index.test.tsx.snap
  packages/react-components/src/Modal/index.test.tsx
  packages/react-components/src/Modal/index.tsx
Due: eslint

move new api files to utils directory
  packages/utils/src/api/components/parameters/endpoint.ts
  packages/utils/src/api/components/responses/subscriptions.ts
  packages/utils/src/api/components/schemas/ResourceSubscription.ts
Due: eslint

Revert moving of HelmetIntl
  packages/studio/src/components/HelmetIntl/HelmetIntl.tsx
  packages/studio/src/components/HelmetIntl/index.tsx
Due: eslint

Fix css import of Input component
  packages/react-components/src/Input/index.tsx
Due: eslint
