Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Fix bad writing
  CONTRIBUTING.md
Due: prettier, remark lint

fix fetching OpenAPI definition
  packages/studio/actions/openApi.ts
Due: eslint

Fix provisioning review — for realsies
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

Remove hook delete policies
  config/charts/appsemble/templates/migrate.yaml
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

add security schema definition
  packages/server/api/components/schemas/App.js
  packages/server/api/components/schemas/Security.js
  packages/server/api/components/schemas/index.js
Due: eslint

Fix permission check for createTemplateApp
  packages/server/controllers/templates.js
Due: eslint

Reuse the organization id as name in provisioning
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

Move jest setup into a package
  .gitlab-ci.yml
  blocks/action-button/tsconfig.json
  blocks/action/tsconfig.json
  blocks/detail-viewer/tsconfig.json
  blocks/feed/tsconfig.json
  blocks/filter/tsconfig.json
  blocks/form/tsconfig.json
  blocks/list/tsconfig.json
  blocks/map/tsconfig.json
  blocks/markdown/tsconfig.json
  blocks/navigation/tsconfig.json
  blocks/splash/tsconfig.json
  config/jest/.eslintrc.js
  jest.config.js
  package.json
  packages/@types/bulma-calendar/tsconfig.json
  packages/@types/file-loader/tsconfig.json
  packages/app/tsconfig.json
  packages/dom-types/tsconfig.json
  packages/jest-config/package.json
  packages/jest-config/setupFilesAfterEnv.ts
  packages/jest-config/tsconfig.json
  packages/node-utils/tsconfig.json
  packages/preact-components/tsconfig.json
  packages/preact/tsconfig.json
  packages/react-components/tsconfig.json
  packages/react/tsconfig.json
  packages/sdk/tsconfig.json
  packages/service-worker/tsconfig.json
  packages/studio/tsconfig.json
  packages/types/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.json
Due: eslint, prettier

Fix ESLint issues
  packages/server/api/paths/user.js
  packages/server/controllers/apps.js
  packages/server/controllers/blocks.test.js
  packages/server/controllers/organizations.test.js
  packages/server/controllers/user.test.js
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.jsx
Due: eslint

add roles page
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
  packages/studio/components/AppContext/AppContext.jsx
  packages/studio/components/AppContext/index.jsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/AppSideMenu/messages.tsx
  packages/studio/components/Roles/Roles.css
  packages/studio/components/Roles/Roles.tsx
  packages/studio/components/Roles/index.tsx
  packages/studio/components/Roles/messages.tsx
  packages/types/index.d.ts
Due: eslint, stylelint

fix defaultValue -> default
  packages/server/api/components/schemas/Security.js
Due: eslint

Fix typing errors
  package.json
  packages/react-components/Modal/Modal.tsx
  packages/react-components/Modal/index.tsx
  packages/studio/components/AppDetails/AppDetails.tsx
  packages/studio/components/AppDetails/index.tsx
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/AppSideMenu/index.tsx
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
  packages/studio/components/OrganizationProvider/OrganizationProvider.tsx
  packages/studio/components/OrganizationProvider/index.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Fix up some miscellaneous quirks
  packages/@types/bulma-calendar/index.d.ts
  packages/react-components/Calendar/Calendar.tsx
  packages/react-components/Input/Input.tsx
  packages/studio/components/ClientCredentials/index.tsx
Due: eslint

implement changing app roles
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
  packages/studio/components/Roles/Roles.tsx
Due: eslint

Remove some unwanted changes
  packages/react-components/Join/Join.tsx
  packages/react-components/Join/index.tsx
  packages/react-components/index.tsx
  packages/server/controllers/apps.js
  packages/server/middleware/oauth2.js
  packages/server/package.json
  packages/server/routes/studioRouter/index.js
  packages/server/routes/studioRouter/tokenHandler.test.js
  packages/server/utils/createServer.js
  packages/studio/components/ClientCredentials/index.tsx
Due: eslint, prettier

Remove more unwanted changes
  packages/server/controllers/apps.test.js
  packages/server/routes/studioRouter/index.js
  packages/server/routes/studioRouter/oauth2ConnectHandler.js
Due: eslint

fix ProtectedRoute role checking
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
Due: eslint

remove unnecessary proptypes in main
  packages/app/actions/user.tsx
  packages/app/components/Main/Main.jsx
Due: eslint

Fix OpenID login and registration
  packages/server/api/paths/oauth.js
  packages/server/api/paths/openid.js
  packages/server/controllers/oauth2.js
  packages/server/controllers/openId.js
  packages/server/models/OAuthAuthorization.js
  packages/server/routes/studioRouter/oauth2CallbackHandler.js
  packages/server/utils/getUserInfo.js
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
Due: eslint

Fix typing error
  packages/studio/components/OAuth2Connect/OAuth2Connect.tsx
Due: eslint

implement redirecting based on page role permissions
  packages/app/actions/user.tsx
  packages/app/components/Page/Page.jsx
  packages/app/components/Page/index.jsx
  packages/app/components/Page/messages.jsx
  packages/server/api/paths/apps.js
  packages/server/controllers/apps.js
Due: eslint

add policy checks
  packages/server/controllers/apps.js
  packages/studio/components/AppSideMenu/AppSideMenu.tsx
  packages/studio/components/Roles/Roles.tsx
Due: eslint

Fix tests
  packages/cli/lib/authentication.js
  packages/server/api/components/securitySchemes/cli.js
  packages/server/api/paths/oauth.js
  packages/server/api/paths/organizations.js
  packages/server/controllers/__snapshots__/templates.test.js.snap
  packages/server/controllers/apps.js
  packages/server/controllers/apps.test.js
  packages/server/controllers/assets.test.js
  packages/server/controllers/auth.test.js
  packages/server/controllers/blocks.test.js
  packages/server/controllers/health.test.js
  packages/server/controllers/organizations.test.js
  packages/server/controllers/resources.js
  packages/server/controllers/resources.test.js
  packages/server/controllers/templates.js
  packages/server/controllers/templates.test.js
  packages/server/controllers/user.test.js
  packages/server/middleware/tinyRouter.test.js
  packages/server/routes/studioRouter/index.js
  packages/server/routes/studioRouter/indexHandler.test.js
  packages/server/routes/studioRouter/tokenHandler.test.js
Due: eslint

Allow reading CLI client credentials from env var
  packages/cli/lib/authentication.js
  packages/cli/main.js
Due: eslint

Fix review environment authentication
  .gitlab-ci.yml
  README.md
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier, remark lint

Add migrations for the new login system
  packages/server/migrations/0.9.6-organization-roles-and-authentication.js
  packages/server/migrations/0.9.6-organization-roles.js
  packages/server/migrations/index.js
Due: eslint

Don’t fail because of optional keytar dependency
  .eslintrc.js
  .gitlab-ci.yml
Due: eslint, prettier

filter visible blocks based on roles
  packages/app/actions/user.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/BlockList/index.tsx
  packages/app/components/Page/Page.jsx
  packages/app/utils/checkAppRole.tsx
  packages/app/utils/checkScope.tsx
  packages/types/index.d.ts
Due: eslint

Fix typos in Helm chart
  config/charts/appsemble/templates/provision.yaml
Due: helm lint, prettier

filter side menu based on roles
  packages/app/components/SideNavigation/SideNavigation.tsx
  packages/app/components/SideNavigation/index.tsx
  packages/types/index.d.ts
Due: eslint

add login button to apps
  packages/app/actions/user.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/Main/Main.jsx
  packages/app/components/Main/index.jsx
  packages/app/components/ProfileDropdown/ProfileDropdown.css
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/components/ProfileDropdown/index.tsx
  packages/app/components/ProfileDropdown/messages.tsx
  packages/app/components/SideNavigation/SideNavigation.tsx
  packages/app/components/TitleBar/TitleBar.css
  packages/app/components/TitleBar/TitleBar.tsx
  packages/app/components/TitleBar/index.tsx
  packages/app/components/TitleBar/messages.tsx
  packages/app/types.ts
  packages/studio/components/ProfileDropdown/ProfileDropdown.jsx
  packages/studio/components/ProfileDropdown/ProfileDropdown.tsx
  packages/studio/components/ProfileDropdown/index.tsx
  packages/studio/components/ProfileDropdown/messages.tsx
  packages/studio/package.json
  packages/studio/types.ts
  packages/utils/generateGravatarHash.ts
  packages/utils/package.json
Due: eslint, prettier, stylelint

Fix secret environment variable for app secret
  config/charts/appsemble/README.md
  config/charts/appsemble/templates/deployment.yaml
  config/charts/appsemble/values.yaml
  packages/server/commands/start.js
Due: eslint, helm lint, prettier, remark lint

merge login link with ProfileDropdown
  packages/app/components/ProfileDropdown/ProfileDropdown.tsx
  packages/app/components/ProfileDropdown/messages.tsx
  packages/app/components/TitleBar/TitleBar.tsx
  packages/app/components/TitleBar/index.tsx
  packages/app/components/TitleBar/messages.tsx
  packages/studio/components/ProfileDropdown/ProfileDropdown.tsx
  packages/studio/components/ProfileDropdown/messages.tsx
  packages/studio/components/Toolbar/Toolbar.jsx
  packages/studio/components/Toolbar/index.jsx
  packages/studio/components/Toolbar/messages.jsx
  tsconfig.json
Due: eslint, prettier

Fix CLI token request
  packages/cli/lib/authentication.js
Due: eslint

Fix copy paste error in Helm chart
  config/charts/appsemble/templates/deployment.yaml
Due: helm lint, prettier

replace HoCs with hooks when possible
  packages/app/components/AppSettings/AppSettings.tsx
  packages/app/components/AppSettings/index.tsx
  packages/app/components/Page/__snapshots__/Page.test.jsx.snap
  packages/app/components/PageDialog/index.tsx
  packages/app/components/SideMenu/SideMenu.tsx
  packages/app/components/SideMenu/index.tsx
  packages/app/components/SideMenuButton/SideMenuButton.tsx
  packages/app/components/SideMenuButton/index.tsx
  packages/app/components/TabsPage/TabsPage.tsx
  packages/app/components/TabsPage/index.tsx
Due: eslint

Partially implement SimpleForm for CreateAppCard
  packages/react-components/Calendar/Calendar.tsx
  packages/react-components/Modal/Modal.tsx
  packages/react-components/Modal/index.tsx
  packages/react-components/SimpleInput/index.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.jsx
Due: eslint

fix CreateAppCard bugs
  packages/react-components/Input/Input.tsx
  packages/react-components/SimpleInput/index.tsx
  packages/studio/components/AppList/components/CreateAppCard/CreateAppCard.tsx
  packages/studio/components/AppList/components/CreateAppCard/index.jsx
  packages/studio/components/AppList/components/CreateAppCard/index.tsx
  packages/studio/components/AppList/components/CreateAppCard/messages.tsx
Due: eslint
