Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Make map marker icons resizable
  blocks/map/block.ts
  blocks/map/src/createIcon.ts
  blocks/map/src/loadMarkers.ts
Due: eslint

Fix resizing highlighted markers
  blocks/map/block.ts
  blocks/map/src/createIcon.ts
  blocks/map/src/loadMarkers.ts
Due: eslint

Revert "Revert moving of HelmetIntl"
  packages/studio/src/components/HelmetIntl/HelmetIntl.tsx
  packages/studio/src/components/HelmetIntl/index.tsx
Due: eslint

Bump babel-plugin-react-intl-auto
  package.json
  packages/studio/src/components/HelmetIntl/index.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix action parsing
  packages/app/src/utils/makeActions.tsx
Due: eslint

Apply suggestion to blocks/button-list/.appsemblerc.yaml
  blocks/button-list/.appsemblerc.yaml
Due: prettier

remove unused css
  blocks/button-list/src/index.css
Due: stylelint

fix bad import
  packages/react-components/src/Icon/Icon.tsx
Due: eslint

set data to null by default
  blocks/button-list/src/index.tsx
Due: eslint

Prepare Preact SDK and node-utils for npm release
  .gitlab-ci.yml
  packages/node-utils/package.json
  packages/preact/README.md
  packages/preact/package.json
  packages/preact/tsconfig.build.json
  packages/sdk/package.json
Due: prettier, remark lint

Fix how data is passed between flow pages
  packages/app/src/components/FlowPage/index.tsx
Due: eslint

Release version 0.12.0
  CHANGELOG.md
  apps/empty/app.yaml
  apps/holidays/app.yaml
  apps/person/app.yaml
  apps/unlittered/app.yaml
  blocks/action-button/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
  config/charts/appsemble-docs/Chart.yaml
  config/charts/appsemble/Chart.yaml
  docs/blocks/markdown.md
  docs/guide/basic-app.md
  docs/guide/events.md
  docs/guide/notifications.md
  docs/guide/resources.md
  packages/app/package.json
  packages/cli/package.json
  packages/create-appsemble/package.json
  packages/create-appsemble/src/templates/preact/package.json
  packages/create-appsemble/src/templates/vanilla/package.json
  packages/node-utils/package.json
  packages/preact-components/package.json
  packages/preact/package.json
  packages/react-components/package.json
  packages/react/package.json
  packages/sdk/package.json
  packages/server/package.json
  packages/service-worker/package.json
  packages/studio/package.json
  packages/types/package.json
  packages/utils/package.json
Due: helm lint, prettier, remark lint

Make published packages publicly accessible
  .gitlab-ci.yml
Due: prettier

update button-list versions
  blocks/button-list/package.json
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier, remark lint

implement function that converts JSON string to CSV
  packages/server/src/utils/convertToCsv.js
  packages/server/src/utils/convertToCsv.test.js
Due: eslint

add support for csv output in resources
  packages/server/package.json
  packages/server/src/api/components/responses/resource.js
  packages/server/src/api/paths/resources.js
  packages/server/src/utils/convertToCsv.js
  packages/server/src/utils/createServer.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

fix quote support
  packages/server/src/utils/convertToCsv.js
  packages/server/src/utils/convertToCsv.test.js
Due: eslint

Update changelog
  CHANGELOG.md
Due: prettier, remark lint

Add index.js to node-utils package
  packages/node-utils/package.json
Due: prettier

Move readFileOrString to @appsemble/node-utils
  packages/node-utils/src/index.ts
  packages/node-utils/src/readFileOrString.test.ts
  packages/node-utils/src/readFileOrString.ts
  packages/server/src/commands/start.js
  packages/server/src/utils/readFileOrString.js
Due: eslint

Fix readFileOrString
  packages/node-utils/src/__fixtures__/hello.txt
  packages/node-utils/src/readFileOrString.ts
Due: eslint

implement migration for removing BlockDefinition
  packages/server/src/migrations/0.12.0-remove-block-definition.js
  packages/server/src/migrations/index.js
Due: eslint

apply model changes
  packages/server/src/models/AppBlockStyle.js
  packages/server/src/models/BlockAsset.js
  packages/server/src/models/BlockDefinition.js
  packages/server/src/models/BlockVersion.js
  packages/server/src/models/OrganizationBlockStyle.js
  packages/server/src/utils/setupModels.js
Due: eslint

remove paranoid flag from BlockVersion
  packages/server/src/migrations/0.12.0-remove-block-definition.js
  packages/server/src/models/BlockVersion.js
Due: eslint

Restore await calls to readFileOrString
  packages/server/src/commands/start.js
Due: eslint

Handle browsers that don’t support ES6
  config/webpack/app.js
  config/webpack/studio.js
  packages/app/package.json
  packages/app/src/index.css
  packages/app/src/index.html
  packages/app/src/index.tsx
  packages/app/src/legacy.ts
  packages/app/src/types.ts
  packages/studio/package.json
  packages/studio/src/index.css
  packages/studio/src/index.html
  packages/studio/src/index.tsx
  packages/studio/src/legacy.ts
  packages/studio/src/types.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Serve block assets from the app host instead of studio
  packages/app/src/utils/prefixBlockURL.test.tsx
  packages/app/src/utils/prefixBlockURL.tsx
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/blocks.test.js
  packages/server/src/routes/appRouter/__image_snapshots__/block-asset-handler-test-js-should-download-a-block-asset-1-snap.png
  packages/server/src/routes/appRouter/blockAssetHandler.js
  packages/server/src/routes/appRouter/blockAssetHandler.test.js
  packages/server/src/routes/appRouter/index.js
  packages/server/src/routes/appRouter/indexHandler.js
  packages/utils/src/api/components/schemas/BlockVersion.ts
  packages/utils/src/api/paths/blocks.ts
  packages/utils/src/constants/patterns.ts
Due: eslint

Fix webpack app build
  config/webpack/app.js
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

adjust API to no longer use BlockDefinition
  packages/server/src/api/components/schemas/BlockDefinition.js
  packages/server/src/api/paths/blocks.js
  packages/server/src/controllers/apps.js
  packages/server/src/controllers/blocks.js
  packages/server/src/controllers/organizations.js
Due: eslint

fix publishing blocks
  packages/cli/src/commands/block/publish.js
  packages/cli/src/commands/block/register.js
  packages/cli/src/lib/generateBlockData.ts
  packages/cli/src/lib/publish.ts
  packages/cli/src/lib/registerBlock.ts
  packages/cli/src/types.ts
  packages/server/src/api/components/schemas/BlockVersion.js
  packages/server/src/api/paths/blocks.js
  packages/server/src/controllers/blocks.js
  packages/types/index.d.ts
Due: eslint

copy block descriptions from docs
  blocks/action-button/package.json
  blocks/data-loader/package.json
  blocks/detail-viewer/package.json
  blocks/feed/package.json
  blocks/filter/package.json
  blocks/form/package.json
  blocks/list/package.json
  blocks/map/package.json
  blocks/markdown/package.json
  blocks/stats/package.json
  blocks/table/package.json
Due: prettier

process feedback
  packages/server/src/utils/convertToCsv.js
  packages/server/src/utils/convertToCsv.test.ts
  packages/server/src/utils/convertToCsv.ts
  packages/server/src/utils/createServer.js
Due: eslint

Cleanup and explain .gitignore
  .gitignore
Due: none

Add *.pem to .gitignore
  .gitignore
Due: none

Fix 404 page when getting a non-existent app
  packages/server/src/routes/appRouter/indexHandler.js
Due: eslint

Fix blank screen on iOS
  .eslintrc.js
  packages/app/src/components/AppSettings/index.tsx
  packages/app/src/components/PermissionRequest/index.tsx
  packages/app/src/components/ServiceWorkerRegistrationProvider/index.tsx
Due: eslint
