Repository appsemble/appsemble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency scanning, eslint, helm lint, prettier, remark lint, stylelint

Path conditions:
  dependency scanning: any of: yarn.lock
  eslint: any of: **/*.{js,jsx,ts,tsx}, yarn.lock
  helm lint: any of: config/charts/**/*.*
  prettier: any of: **/*.{html,json,md,scss,yaml,yml}, yarn.lock
  remark lint: any of: **/*.{dic,md}, yarn.lock
  stylelint: any of: **/*.css, yarn.lock

Remove commented line
  jest.config.js
Due: eslint

update getNotification tests
  packages/server/controllers/appNotifications.test.js
Due: eslint

Convert some more components to TypeScript
  packages/studio/components/AppList/components/AppCard/AppCard.tsx
  packages/studio/components/AppList/components/AppCard/index.tsx
  packages/studio/components/AppList/components/AppList/AppList.tsx
  packages/studio/components/AppList/components/AppList/index.tsx
  packages/studio/components/AppList/index.tsx
  packages/studio/components/OrganizationInvite/OrganizationInvite.jsx
  packages/studio/components/OrganizationInvite/OrganizationInvite.tsx
  packages/studio/components/OrganizationInvite/index.jsx
  packages/studio/components/OrganizationInvite/index.tsx
  packages/studio/components/Settings/Settings.tsx
  packages/studio/components/Settings/index.tsx
  packages/types/index.d.ts
Due: eslint

Fix login component typings
  packages/app/components/Login/Login.tsx
  packages/app/components/Login/index.tsx
Due: eslint

Fix resource subscriptions OpenAPI response schema
  packages/server/api/paths/resources.js
Due: eslint

Convert remaining jsx in @appsemble/app to tsx
  package.json
  packages/@types-serviceworker-webpack-plugin/lib/runtime.d.ts
  packages/@types-serviceworker-webpack-plugin/package.json
  packages/@types-serviceworker-webpack-plugin/tsconfig.json
  packages/app/components/App/App.tsx
  packages/app/components/App/index.tsx
  packages/app/components/Block/Block.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/FlowPage/FlowPage.tsx
  packages/app/components/Main/Main.tsx
  packages/app/components/Main/index.tsx
  packages/app/components/Page/Page.jsx
  packages/app/components/Page/Page.tsx
  packages/app/components/Page/index.tsx
  packages/app/components/PageDialog/PageDialog.tsx
  packages/app/index.tsx
  packages/app/package.json
  packages/app/types.ts
  packages/app/utils/actions/resource.tsx
  packages/app/utils/makeActions.tsx
  packages/types/index.d.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Convert remaining JavaScript in studio to TypeScript
  packages/react-components/Button/Button.tsx
  packages/react-components/hooks/useToggle.tsx
  packages/react-components/index.tsx
  packages/studio/components/AnonymousRoute/AnonymousRoute.tsx
  packages/studio/components/App/App.tsx
  packages/studio/components/App/index.tsx
  packages/studio/components/AppContext/AppContext.tsx
  packages/studio/components/AppContext/index.tsx
  packages/studio/components/CMS/CMS.tsx
  packages/studio/components/CMS/index.tsx
  packages/studio/components/ProtectedRoute/ProtectedRoute.tsx
  packages/studio/components/ResourceTable/ResourceTable.jsx
  packages/studio/components/ResourceTable/ResourceTable.tsx
  packages/studio/components/ResourceTable/index.jsx
  packages/studio/components/ResourceTable/index.tsx
  packages/studio/index.tsx
  packages/studio/package.json
  packages/studio/types.ts
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

update tests
  packages/app/components/Page/Page.test.jsx
  packages/app/components/Page/Page.tsx
  packages/types/index.d.ts
Due: eslint

split page types
  packages/app/components/FlowPage/FlowPage.tsx
  packages/app/components/Page/Page.tsx
  packages/app/components/TabsPage/TabsPage.tsx
  packages/types/index.d.ts
Due: eslint

Replace idb with localStorage
  packages/app/actions/app.test.tsx
  packages/app/actions/app.tsx
  packages/app/actions/db.test.tsx
  packages/app/actions/db.tsx
  packages/app/actions/index.tsx
  packages/app/actions/user.test.tsx
  packages/app/actions/user.tsx
  packages/app/package.json
  packages/app/utils/getDB.tsx
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

Rename docs from mdx to md
  .remarkrc.js
  config/retext/personal.dic
  docs/architecture.md
  docs/deployment/docker-compose.md
  docs/deployment/helm.md
  docs/development/app-development.md
  docs/development/appsemble-resources.md
  docs/development/developing-blocks.md
  docs/development/theming.md
  docs/getting-started.mdx
  package.json
Due: eslint, prettier, remark lint

fix page tests
  packages/app/components/Main/Main.tsx
  packages/app/components/Page/Page.test.tsx
  packages/app/components/Page/Page.tsx
  packages/app/components/Page/__snapshots__/Page.test.jsx.snap
  packages/app/components/Page/__snapshots__/Page.test.tsx.snap
  packages/app/utils/actions/link.tsx
Due: eslint

process feedback
  packages/app/utils/actions/resource.tsx
  packages/server/api/paths/resources.js
Due: eslint

fix imports
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/SideNavigation/SideNavigation.tsx
Due: eslint

Fix markdown images in docs
  config/retext/personal.dic
  docs/blocks/action-button.md
  docs/blocks/blocks.md
  docs/blocks/detail-viewer.md
  docs/blocks/form.md
  docs/blocks/list.md
  docs/blocks/map.md
  docs/blocks/markdown.md
  docs/development/app-notifications.md
  docs/index.css
  package.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

add docs for app security
  docs/development/app-security.md
  docs/reference/app.md
Due: prettier, remark lint

split describe
  packages/server/controllers/resources.test.js
Due: eslint

Use serviceworker-webpack-plugin types from DefinitelyTyped
  package.json
  packages/@types-serviceworker-webpack-plugin/lib/runtime.d.ts
  packages/@types-serviceworker-webpack-plugin/package.json
  packages/@types-serviceworker-webpack-plugin/tsconfig.json
  yarn.lock
Due: dependency scanning, eslint, prettier, remark lint, stylelint

resolve feedback
  docs/development/app-security.md
  packages/server/controllers/resources.js
  packages/utils/constants/roles.js
Due: eslint, prettier, remark lint

replace menu redux code with useMenu hook
  packages/app/actions/index.tsx
  packages/app/actions/menu.test.tsx
  packages/app/actions/menu.tsx
  packages/app/components/App/App.jsx
  packages/app/components/MenuProvider/MenuProvider.tsx
  packages/app/components/MenuProvider/index.tsx
  packages/app/components/SideMenu/SideMenu.tsx
  packages/app/components/SideMenu/index.tsx
  packages/app/components/SideMenuButton/SideMenuButton.tsx
  packages/app/components/SideMenuButton/index.tsx
  packages/app/components/SideNavigation/SideNavigation.tsx
  packages/app/components/SideNavigation/index.tsx
  packages/react-components/hooks/useToggle.tsx
Due: eslint

add migration for asset user/app association
  packages/server/migrations/0.10.3-asset-associations.js
  packages/server/migrations/index.js
  packages/server/models/App.js
  packages/server/models/Asset.js
Due: eslint

associate assets with app
  packages/server/api/paths/apps.js
  packages/server/api/paths/assets.js
  packages/server/controllers/assets.js
  packages/server/controllers/assets.test.js
Due: eslint

reorder organization tests
  packages/server/controllers/organizations.js
  packages/server/controllers/organizations.test.js
Due: eslint

add test for unverified organization creation
  packages/server/controllers/organizations.test.js
Due: eslint

add message for unverified users
  packages/studio/components/OrganizationsSettings/OrganizationsSettings.tsx
  packages/studio/components/OrganizationsSettings/messages.tsx
Due: eslint

fix tests
  packages/server/controllers/appNotifications.test.js
  packages/server/controllers/apps.test.js
  packages/server/controllers/auth.test.js
  packages/server/controllers/organizations.test.js
  packages/utils/validateAppDefinition.test.js
Due: eslint

Fix block ready state
  packages/app/components/App/App.tsx
  packages/app/components/Block/Block.tsx
  packages/app/components/BlockList/BlockList.tsx
  packages/app/components/Page/Page.test.tsx
  packages/app/components/Page/Page.tsx
Due: eslint

update changelog
  CHANGELOG.md
Due: prettier, remark lint

Fix the preview for the app editor
  packages/app/components/AppDefinitionProvider/AppDefinitionProvider.tsx
  packages/app/components/Block/Block.tsx
  packages/app/components/Main/Main.tsx
  packages/app/components/Page/Page.tsx
  packages/app/utils/blockUtils.tsx
  packages/app/utils/bootstrapper.tsx
  packages/app/utils/prefixBlockURL.tsx
  packages/server/routes/appRouter/indexHandler.js
  packages/studio/components/Editor/Editor.tsx
  packages/utils/blockUtils.js
  packages/utils/index.d.ts
  packages/utils/index.js
  packages/utils/normalizeBlockName.js
Due: eslint

Verify origin of postMessage
  packages/app/components/AppDefinitionProvider/AppDefinitionProvider.tsx
Due: eslint

Fix tests
  packages/app/components/Page/Page.test.tsx
  packages/app/components/Page/__snapshots__/Page.test.tsx.snap
  packages/app/utils/blockUtils.test.tsx
  packages/app/utils/prefixBlockURL.test.tsx
  packages/utils/blockUtils.test.js
Due: eslint

support events in sdk
  packages/app/components/Block/Block.tsx
  packages/cli/lib/generateBlockData.js
  packages/sdk/index.ts
  packages/server/api/components/schemas/BlockVersion.js
  packages/types/index.d.ts
Due: eslint

implement data-loader block
  blocks/data-loader/.appsemblerc.yaml
  blocks/data-loader/block.ts
  blocks/data-loader/package.json
  blocks/data-loader/src/index.css
  blocks/data-loader/src/index.ts
  blocks/data-loader/tsconfig.json
Due: eslint, prettier, stylelint

update revoke invite test
  packages/server/controllers/organizations.js
  packages/server/controllers/organizations.test.js
Due: eslint

Fix TypeScript errors
  packages/app/components/UserProvider/UserProvider.tsx
Due: eslint

add migration for events field
  packages/server/migrations/0.10.4-events.js
  packages/server/migrations/index.js
  packages/server/models/BlockVersion.js
Due: eslint

Apply suggestion to packages/server/controllers/organizations.js
  packages/server/controllers/organizations.js
Due: eslint

fix types
  blocks/data-loader/.appsemblerc.yaml
  blocks/data-loader/block.ts
  blocks/data-loader/src/index.ts
  packages/cli/lib/generateBlockData.js
  packages/sdk/index.ts
  packages/server/controllers/blocks.js
Due: eslint, prettier

Fix messages provider
  packages/react-components/MessagesProvider/MessagesProvider.tsx
  packages/react-components/hooks/useCounter.tsx
  packages/react-components/hooks/useForceUpdate.tsx
  packages/react-components/index.tsx
Due: eslint
